# Now that all necessary data have now been extracted, transformed, and dumped to parquet files we can start doing our analyses by reading these parquet files as tables with duckdb (an in process OLAP) and then use these tables to make our transformations and draw insights

In [183]:
import duckdb

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Create database in order to persist data if one does not already exist. (DO NOT create a `.duckdb` file manually as this will not contain the instructions for duckdb to read and write data from and to)

In [184]:
# conn = duckdb.connect("chronic_disease_analyses.duckdb")

# loading transformed population tables

In [185]:
us_populations_per_state_file_names = ['./data/population-data-transformed/us_populations_per_state.parquet/*.parquet']

In [186]:
duckdb.sql(f"""
    CREATE OR REPLACE TABLE us_populations_per_state AS
    SELECT *
    FROM read_parquet({us_populations_per_state_file_names}, union_by_name=True, filename=False)
""")

In [187]:
us_populations_per_state_by_sex_age_file_names = ['./data/population-data-transformed/us_populations_per_state_by_sex_age_2000_2009.parquet/*.parquet',
    './data/population-data-transformed/us_populations_per_state_by_sex_age_2010_2019.parquet/*.parquet',
    './data/population-data-transformed/us_populations_per_state_by_sex_age_2020_2023.parquet/*.parquet']

In [188]:
duckdb.sql(f"""
    CREATE OR REPLACE TABLE us_populations_per_state_by_sex_age AS
    SELECT *
    FROM read_parquet({us_populations_per_state_by_sex_age_file_names}, union_by_name=True, filename=False)
""")

In [189]:
us_populations_per_state_by_sex_race_ho_file_names = ['./data/population-data-transformed/us_populations_per_state_by_sex_race_ho_2000_2009.parquet/*.parquet',
    './data/population-data-transformed/us_populations_per_state_by_sex_race_ho_2010_2019.parquet/*.parquet',
    './data/population-data-transformed/us_populations_per_state_by_sex_race_ho_2020_2023.parquet/*.parquet']

In [190]:
duckdb.sql(f"""
    CREATE OR REPLACE TABLE us_populations_per_state_by_sex_race_ho AS
    SELECT *
    FROM read_parquet({us_populations_per_state_by_sex_race_ho_file_names}, union_by_name=True, filename=False)
""")

In [191]:
us_populations_per_state_by_sex_age_race_ho_file_names = ['./data/population-data-transformed/us_populations_per_state_by_sex_age_race_ho_2000_2009.parquet/*.parquet',
    './data/population-data-transformed/us_populations_per_state_by_sex_age_race_ho_2010_2019.parquet/*.parquet',
    './data/population-data-transformed/us_populations_per_state_by_sex_age_race_ho_2020_2023.parquet/*.parquet']

In [192]:
duckdb.sql(f"""
    CREATE OR REPLACE TABLE us_populations_per_state_by_sex_age_race_ho AS
    SELECT *
    FROM read_parquet({us_populations_per_state_by_sex_age_race_ho_file_names}, union_by_name=True, filename=False)
""")

In [193]:
duckdb.sql("""
    SELECT COUNT(*)
    FROM us_populations_per_state
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         1071 │
└──────────────┘

In [194]:
duckdb.sql("""
    SELECT *
    FROM us_populations_per_state_by_sex_age
""")

┌────────────────┬───────┬────────────┬─────────┬──────────┬──────────┬────────┐
│    Bracket     │ Year  │ Population │   Sex   │  State   │ AgeStart │ AgeEnd │
│    varchar     │ int32 │   int64    │ varchar │ varchar  │  double  │ double │
├────────────────┼───────┼────────────┼─────────┼──────────┼──────────┼────────┤
│ under 5 years  │  2000 │     150609 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2001 │     151410 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2002 │     150856 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2003 │     150594 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2004 │     150699 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2005 │     150960 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2006 │     151442 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2007 │     153128 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2008 │     155061 │ Male    │ Alabama  │      0.0 │    5.0 │
│ under 5 years  │  2009 │     155463 │ Male    │ Alabama  │      0.0 │    5.0 │
│       ·        │    ·  │        ·   │  ·      │    ·     │       ·  │     ·  │
│       ·        │    ·  │        ·   │  ·      │    ·     │       ·  │     ·  │
│       ·        │    ·  │        ·   │  ·      │    ·     │       ·  │     ·  │
│ 65 to 69 years │  2000 │      66501 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2001 │      67382 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2002 │      68023 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2003 │      69829 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2004 │      71802 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2005 │      73729 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2006 │      76169 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2007 │      79522 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2008 │      83315 │ Male    │ Kentucky │     65.0 │   69.0 │
│ 65 to 69 years │  2009 │      85804 │ Male    │ Kentucky │     65.0 │   69.0 │
├────────────────┴───────┴────────────┴─────────┴──────────┴──────────┴────────┤
│ ? rows (>9999 rows, 20 shown)                                      7 columns │
└──────────────────────────────────────────────────────────────────────────────┘

In [195]:
duckdb.sql("""
    SELECT COUNT(*)
    FROM us_populations_per_state_by_sex_race_ho
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│        29376 │
└──────────────┘

In [196]:
duckdb.sql("""
    SELECT DISTINCT(Ethnicity)
    FROM us_populations_per_state_by_sex_race_ho
""")

┌─────────────┐
│  Ethnicity  │
│   varchar   │
├─────────────┤
│ Multiracial │
│ Asian       │
│ Nhpi        │
│ White       │
│ Black       │
│ Aian        │
│ NHPI        │
│ AIAN        │
└─────────────┘

In [197]:
duckdb.sql("""
    SELECT *
    FROM us_populations_per_state_by_sex_age_race_ho
""")

┌─────────┬─────────┬───────┬─────────────┬──────────────┬─────────┬──────────────────┬───────┬────────────┐
│ StateID │  State  │  Age  │  Ethnicity  │    Origin    │   Sex   │ StratificationID │ Year  │ Population │
│ varchar │ varchar │ float │   varchar   │   varchar    │ varchar │     varchar      │ int32 │   int64    │
├─────────┼─────────┼───────┼─────────────┼──────────────┼─────────┼──────────────────┼───────┼────────────┤
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2000 │      19270 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2001 │      19612 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2002 │      18731 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2003 │      18623 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2004 │      18659 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2005 │      18816 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2006 │      18877 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2007 │      19027 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2008 │      18937 │
│ AL      │ Alabama │   0.0 │ White       │ Not Hispanic │ Male    │ NH_M_WHITE       │  2009 │      18039 │
│ ·       │    ·    │    ·  │   ·         │    ·         │  ·      │     ·            │    ·  │          · │
│ ·       │    ·    │    ·  │   ·         │    ·         │  ·      │     ·            │    ·  │          · │
│ ·       │    ·    │    ·  │   ·         │    ·         │  ·      │     ·            │    ·  │          · │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2000 │          3 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2001 │          4 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2002 │          9 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2003 │          6 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2004 │          9 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2005 │          7 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2006 │          8 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2007 │          7 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2008 │          8 │
│ AL      │ Alabama │  53.0 │ Multiracial │ Hispanic     │ Male    │ H_M_MULTI        │  2009 │         11 │
├─────────┴─────────┴───────┴─────────────┴──────────────┴─────────┴──────────────────┴───────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                  9 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [217]:
duckdb.sql("""
    SELECT COUNT(*)
    FROM us_populations_per_state_by_sex_age_race_ho
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      2526336 │
└──────────────┘

In [198]:
duckdb.sql("""
    SELECT Age, COUNT(Age) AS AgeOcc
    FROM us_populations_per_state_by_sex_age_race_ho
    GROUP BY Age
""")

┌───────┬────────┐
│  Age  │ AgeOcc │
│ float │ int64  │
├───────┼────────┤
│  76.0 │  29376 │
│  79.0 │  29376 │
│  84.0 │  29376 │
│   0.0 │  29376 │
│  11.0 │  29376 │
│  21.0 │  29376 │
│  40.0 │  29376 │
│  70.0 │  29376 │
│   3.0 │  29376 │
│  23.0 │  29376 │
│    ·  │    ·   │
│    ·  │    ·   │
│    ·  │    ·   │
│   8.0 │  29376 │
│  24.0 │  29376 │
│  49.0 │  29376 │
│  18.0 │  29376 │
│  34.0 │  29376 │
│  42.0 │  29376 │
│  66.0 │  29376 │
│  82.0 │  29376 │
│  36.0 │  29376 │
│  59.0 │  29376 │
├───────┴────────┤
│    86 rows     │
│   (20 shown)   │
└────────────────┘

In [199]:
duckdb.sql("""
    SELECT DISTINCT(StratificationID)
    FROM us_populations_per_state_by_sex_age_race_ho
""").fetchall()

[('H_M_BLACK',),
 ('H_F_NHPI',),
 ('H_M_AIAN',),
 ('H_F_MULTI',),
 ('NH_M_NHPI',),
 ('H_M_NHPI',),
 ('NH_F_BLACK',),
 ('NH_F_AIAN',),
 ('H_F_WHITE',),
 ('NH_M_WHITE',),
 ('NH_M_AIAN',),
 ('NH_M_ASIAN',),
 ('H_M_ASIAN',),
 ('H_M_WHITE',),
 ('NH_F_ASIAN',),
 ('NH_F_NHPI',),
 ('H_F_BLACK',),
 ('NH_F_MULTI',),
 ('H_F_AIAN',),
 ('H_F_ASIAN',),
 ('NH_M_BLACK',),
 ('NH_M_MULTI',),
 ('H_M_MULTI',),
 ('NH_F_WHITE',)]

In [200]:
duckdb.sql("""
    SELECT Sex, Origin, Ethnicity, StratificationID
    FROM us_populations_per_state_by_sex_age_race_ho
""")

┌─────────┬──────────────┬─────────────┬──────────────────┐
│   Sex   │    Origin    │  Ethnicity  │ StratificationID │
│ varchar │   varchar    │   varchar   │     varchar      │
├─────────┼──────────────┼─────────────┼──────────────────┤
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│ Male    │ Not Hispanic │ White       │ NH_M_WHITE       │
│  ·      │    ·         │   ·         │     ·            │
│  ·      │    ·         │   ·         │     ·            │
│  ·      │    ·         │   ·         │     ·            │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
│ Male    │ Hispanic     │ Multiracial │ H_M_MULTI        │
├─────────┴──────────────┴─────────────┴──────────────────┤
│ ? rows (>9999 rows, 20 shown)                 4 columns │
└─────────────────────────────────────────────────────────┘

In [201]:
population_unique_states = duckdb.sql("""
    SELECT DISTINCT(State)
    FROM us_populations_per_state
""").fetchall()

In [202]:
population_state_names = list(zip(*population_unique_states))[0]
population_state_names

('New Mexico',
 'Washington',
 'New Jersey',
 'Tennessee',
 'Wisconsin',
 'Alabama',
 'California',
 'Colorado',
 'Illinois',
 'Mississippi',
 'Arizona',
 'Delaware',
 'Hawaii',
 'North Dakota',
 'Kentucky',
 'New York',
 'Indiana',
 'Maryland',
 'Iowa',
 'Kansas',
 'Louisiana',
 'Ohio',
 'Rhode Island',
 'Texas',
 'Alaska',
 'District of Columbia',
 'Florida',
 'Minnesota',
 'Nevada',
 'New Hampshire',
 'Arkansas',
 'Idaho',
 'South Carolina',
 'West Virginia',
 'Georgia',
 'South Dakota',
 'Vermont',
 'Oklahoma',
 'Utah',
 'Virginia',
 'Wyoming',
 'Montana',
 'Nebraska',
 'North Carolina',
 'Connecticut',
 'Maine',
 'Massachusetts',
 'Oregon',
 'Michigan',
 'Missouri',
 'Pennsylvania')

# Loading transformed chronic disease indicators table

In [203]:
cdi_file_name = './data/cdi-data-transformed/cdi.parquet/*.parquet'

In [204]:
q = f"""
    CREATE OR REPLACE TABLE cdi AS
    SELECT *
    FROM read_parquet('{cdi_file_name}')
"""

In [205]:
duckdb.sql(q)

In [206]:
duckdb.sql("""
    SELECT COUNT(*)
    FROM cdi
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       678471 │
└──────────────┘

In [207]:
duckdb.sql("""
    SELECT *
    FROM cdi
""")

┌───────────┬─────────┬──────────────┬────────────────┬─────────┬─────────────────────────────────────────────────────────────────────────────────────────┬───────────────┬─────────────────────────┬───────────┬────────────────────┬─────────────────────┬────────────┬─────────┬────────────┬─────────────────┬─────────────────────┬────────────────────┬──────────┬────────┬─────────┬───────────┬──────────────┬───────────────────┐
│ YearStart │ YearEnd │ LocationAbbr │  LocationDesc  │  Topic  │                                        Question                                         │ DataValueUnit │      DataValueType      │ DataValue │ LowConfidenceLimit │ HighConfidenceLimit │ LocationID │ TopicID │ QuestionID │ DataValueTypeID │      Latitude       │     Longitude      │ AgeStart │ AgeEnd │   Sex   │ Ethnicity │    Origin    │ Stratification1ID │
│   int32   │  int32  │   varchar    │    varchar     │ varchar │                                         varchar                                         │    varchar    │         varchar         │  double   │       double       │       double        │   int32    │ varchar │  varchar   │     varchar     │       double        │       double       │  double  │ double │ varchar │  varchar  │   varchar    │      varchar      │
├───────────┼─────────┼──────────────┼────────────────┼─────────┼─────────────────────────────────────────────────────────────────────────────────────────┼───────────────┼─────────────────────────┼───────────┼────────────────────┼─────────────────────┼────────────┼─────────┼────────────┼─────────────────┼─────────────────────┼────────────────────┼──────────┼────────┼─────────┼───────────┼──────────────┼───────────────────┤
│      2015 │    2015 │ IL           │ Illinois       │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      10.6 │                4.8 │                22.2 │         17 │ ALC     │ ALC1_1     │ CRDPREV         │  -88.99771017799969 │  40.48501028300046 │     18.0 │   24.0 │ Both    │ Asian     │ Not Hispanic │ NH_B_ASIAN        │
│      2015 │    2015 │ RI           │ Rhode Island   │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      12.6 │                7.3 │                21.0 │         44 │ ALC     │ ALC1_1     │ CRDPREV         │  -71.52247031399963 │  41.70828019300046 │     18.0 │   24.0 │ Both    │ Asian     │ Not Hispanic │ NH_B_ASIAN        │
│      2013 │    2013 │ MA           │ Massachusetts  │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      13.6 │                8.6 │                20.7 │         25 │ ALC     │ ALC1_1     │ CRDPREV         │  -72.08269067499964 │  42.27687047000046 │     18.0 │   24.0 │ Both    │ Asian     │ Not Hispanic │ NH_B_ASIAN        │
│      2015 │    2015 │ FL           │ Florida        │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      16.0 │               11.0 │                22.9 │         12 │ ALC     │ ALC1_1     │ CRDPREV         │  -81.92896053899966 │ 28.932040377000476 │     18.0 │   24.0 │ Both    │ Asian     │ Not Hispanic │ NH_B_ASIAN        │
│      2017 │    2017 │ SC           │ South Carolina │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      15.6 │               11.2 │                21.4 │         45 │ ALC     │ ALC1_1     │ CRDPREV         │  -81.04537120699968 │ 33.998821303000454 │     18.0 │   24.0 │ Both    │ Black     │ Not Hispanic │ NH_B_BLACK        │
│      2015 │    2015 │ CA           │ California     │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      17.1 │               11.9 │                23.9 │          6 │ ALC     │ ALC1_1     │ CRDPREV         │ -120.99999953799971 │  37.63864012300047 │     18.0 │   24.0 │ Both    │ Asian     │ Not Hispanic │ NH_B_ASIAN        │
│      2019 │    2019 │ VA           │ Virginia       │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      16.1 │               12.0 │                21.3 │         51 │ ALC     │ ALC1_1     │ CRDPREV         │  -78.45789046299967 │  37.54268067400045 │     18.0 │   24.0 │ Both    │ Black     │ Not Hispanic │ NH_B_BLACK        │
│      2017 │    2017 │ VA           │ Virginia       │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      17.8 │               14.0 │                22.3 │         51 │ ALC     │ ALC1_1     │ CRDPREV         │  -78.45789046299967 │  37.54268067400045 │     18.0 │   24.0 │ Both    │ Black     │ Not Hispanic │ NH_B_BLACK        │
│      2015 │    2015 │ VA           │ Virginia       │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      17.5 │               14.4 │                21.1 │         51 │ ALC     │ ALC1_1     │ CRDPREV         │  -78.45789046299967 │  37.54268067400045 │     18.0 │   24.0 │ Both    │ Black     │ Not Hispanic │ NH_B_BLACK        │
│      2019 │    2019 │ HI           │ Hawaii         │ Alcohol │ Alcohol use among youth                                                                 │ %             │ Crude Prevalence        │      19.4 │               15.1 │                24.5 │         15 │ ALC     │ ALC1_1     │ CRDPREV         │ -157.85774940299973 │ 21.304850435000446 │     18.0 │   24.0 │ Both    │ White     │ Not Hispanic │ NH_B_WHITE        │
│        ·  │      ·  │ ·            │   ·            │   ·     │            ·                                                                            │ ·             │        ·                │        ·  │                 ·  │                  ·  │          · │  ·      │   ·        │    ·            │           ·         │          ·         │       ·  │     ·  │  ·      │  ·        │  ·           │    ·              │
│        ·  │      ·  │ ·            │   ·            │   ·     │            ·                                                                            │ ·             │        ·                │        ·  │                 ·  │                  ·  │          · │  ·      │   ·        │    ·            │           ·         │          ·         │       ·  │     ·  │  ·      │  ·        │  ·           │    ·              │
│        ·  │      ·  │ ·            │   ·            │   ·     │            ·                                                                            │ ·             │        ·                │        ·  │                 ·  │                  ·  │          · │  ·      │   ·        │    ·            │           ·         │          ·         │       ·  │     ·  │  ·      │  ·        │  ·           │    ·              │
│      2017 │    2017 │ IL           │ Illinois       │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Crude Prevalence        │      85.5 │               77.1 │                91.1 │         17 │ AST     │ AST6_2     │ CRDPREV         │  -88.99771017799969 │  40.48501028300046 │     65.0 │    inf │ Both    │ All       │ Both         │ B_B_ALL           │
│      2016 │    2016 │ MS           │ Mississippi    │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Crude Prevalence        │      87.3 │               77.1 │                93.3 │         28 │ AST     │ AST6_2     │ CRDPREV         │  -89.53803082499968 │ 32.745510099000455 │     65.0 │    inf │ Both    │ White     │ Not Hispanic │ NH_B_WHITE        │
│      2014 │    2014 │ UT           │ Utah           │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Crude Prevalence        │      83.7 │               77.2 │                88.6 │         49 │ AST     │ AST6_2     │ CRDPREV         │ -111.58713063499971 │ 39.360700171000474 │     65.0 │    inf │ Both    │ White     │ Not Hispanic │ NH_B_WHITE        │
│      2016 │    2016 │ TX           │ Texas          │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Crude Prevalence        │      85.7 │               77.2 │                91.4 │         48 │ AST     │ AST6_2     │ CRDPREV         │  -99.42677020599967 │ 31.827240407000488 │     65.0 │    inf │ Both    │ All       │ Both         │ B_B_ALL           │
│      2014 │    2014 │ LA           │ Louisiana      │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Age-adjusted Prevalence │      86.4 │               77.2 │                92.2 │         22 │ AST     │ AST6_2     │ AGEADJPREV      │  -92.44568007099969 │  31.31266064400046 │     65.0 │    inf │ Female  │ All       │ Both         │ B_F_ALL           │
│      2019 │    2019 │ CO           │ Colorado       │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Crude Prevalence        │      87.2 │               77.2 │                93.2 │          8 │ AST     │ AST6_2     │ CRDPREV         │ -106.13361092099967 │ 38.843840757000464 │     65.0 │    inf │ Male    │ All       │ Both         │ B_M_ALL           │
│      2013 │    2013 │ TX           │ Texas          │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Crude Prevalence        │      85.8 │               77.3 │                91.5 │         48 │ AST     │ AST6_2     │ CRDPREV         │  -99.42677020599967 │ 31.827240407000488 │     65.0 │    inf │ Female  │ All       │ Both         │ B_F_ALL           │
│      2012 │    2012 │ DE           │ Delaware       │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Crude Prevalence        │      87.0 │               77.5 │                92.8 │         10 │ AST     │ AST6_2     │ CRDPREV         │  -75.57774116799965 │ 39.008830667000495 │     65.0 │    inf │ Both    │ All       │ Both         │ B_B_ALL           │
│      2013 │    2013 │ FL           │ Florida        │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Age-adjusted Prevalence │      84.4 │               77.6 │                89.3 │         12 │ AST     │ AST6_2     │ AGEADJPREV      │  -81.92896053899966 │ 28.932040377000476 │     65.0 │    inf │ Female  │ All       │ Both         │ B_F_ALL           │
│      2019 │    2019 │ AZ           │ Arizona        │ Asthma  │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │ %             │ Age-adjusted Prevalence │      84.7 │               77.6 │                89.8 │          4 │ AST     │ AST6_2     │ AGEADJPREV      │ -111.76381127699972 │ 34.865970280000454 │     65.0 │    inf │ Both    │ White     │ Not Hispanic │ NH_B_WHITE        │
├───────────┴─────────┴──────────────┴────────────────┴─────────┴─────────────────────────────────────────────────────────────────────────────────────────┴───────────────┴─────────────────────────┴───────────┴────────────────────┴─────────────────────┴────────────┴─────────┴────────────┴─────────────────┴─────────────────────┴────────────────────┴──────────┴────────┴─────────┴───────────┴──────────────┴───────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                                                                                                                               23 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

#### unique pairs of question id and topic id

In [208]:
duckdb.sql("""
    SELECT TopicID, QuestionID
    FROM cdi
    GROUP BY TopicID, QuestionID
""")

┌─────────┬────────────┐
│ TopicID │ QuestionID │
│ varchar │  varchar   │
├─────────┼────────────┤
│ CKD     │ CKD3_0     │
│ CVD     │ CVD3_1     │
│ NPAW    │ NPAW10_0   │
│ NPAW    │ NPAW11_3   │
│ NPAW    │ NPAW18_0   │
│ OLD     │ OLD3_1     │
│ OVC     │ OVC2_2     │
│ TOB     │ TOB11_1    │
│ TOB     │ TOB2_1     │
│ ALC     │ ALC5_1     │
│  ·      │   ·        │
│  ·      │   ·        │
│  ·      │   ·        │
│ NPAW    │ NPAW12_2   │
│ OLD     │ OLD3_2     │
│ OVC     │ OVC2_1     │
│ OVC     │ OVC7_2     │
│ TOB     │ TOB9_0     │
│ ALC     │ ALC4_0     │
│ ART     │ ART1_2     │
│ AST     │ AST6_1     │
│ CAN     │ CAN4_2     │
│ CAN     │ CAN8_2     │
├─────────┴────────────┤
│ 192 rows (20 shown)  │
└──────────────────────┘

In [209]:
cdi_unique_states = duckdb.sql("""
    SELECT LocationAbbr, LocationDesc
    FROM cdi
    GROUP BY LocationAbbr, LocationDesc
""").fetchall()
cdi_unique_states

[('DE', 'Delaware'),
 ('GA', 'Georgia'),
 ('AR', 'Arkansas'),
 ('VT', 'Vermont'),
 ('MT', 'Montana'),
 ('MN', 'Minnesota'),
 ('OH', 'Ohio'),
 ('NV', 'Nevada'),
 ('MS', 'Mississippi'),
 ('HI', 'Hawaii'),
 ('WY', 'Wyoming'),
 ('KS', 'Kansas'),
 ('AK', 'Alaska'),
 ('TN', 'Tennessee'),
 ('MO', 'Missouri'),
 ('CA', 'California'),
 ('LA', 'Louisiana'),
 ('KY', 'Kentucky'),
 ('AL', 'Alabama'),
 ('SC', 'South Carolina'),
 ('SD', 'South Dakota'),
 ('IA', 'Iowa'),
 ('OK', 'Oklahoma'),
 ('RI', 'Rhode Island'),
 ('UT', 'Utah'),
 ('NE', 'Nebraska'),
 ('CO', 'Colorado'),
 ('ME', 'Maine'),
 ('IN', 'Indiana'),
 ('DC', 'District of Columbia'),
 ('WV', 'West Virginia'),
 ('ID', 'Idaho'),
 ('WA', 'Washington'),
 ('MI', 'Michigan'),
 ('NM', 'New Mexico'),
 ('IL', 'Illinois'),
 ('NH', 'New Hampshire'),
 ('MD', 'Maryland'),
 ('WI', 'Wisconsin'),
 ('AZ', 'Arizona'),
 ('ND', 'North Dakota'),
 ('FL', 'Florida'),
 ('PA', 'Pennsylvania'),
 ('VA', 'Virginia'),
 ('CT', 'Connecticut'),
 ('TX', 'Texas'),
 ('NY', 'New York'),
 ('OR', 'Oregon'),
 ('NC', 'North Carolina'),
 ('NJ', 'New Jersey'),
 ('MA', 'Massachusetts')]

In [210]:
cdi_state_codes, cdi_state_names = zip(*cdi_unique_states)
cdi_state_codes

('DE',
 'GA',
 'AR',
 'VT',
 'MT',
 'MN',
 'OH',
 'NV',
 'MS',
 'HI',
 'WY',
 'KS',
 'AK',
 'TN',
 'MO',
 'CA',
 'LA',
 'KY',
 'AL',
 'SC',
 'SD',
 'IA',
 'OK',
 'RI',
 'UT',
 'NE',
 'CO',
 'ME',
 'IN',
 'DC',
 'WV',
 'ID',
 'WA',
 'MI',
 'NM',
 'IL',
 'NH',
 'MD',
 'WI',
 'AZ',
 'ND',
 'FL',
 'PA',
 'VA',
 'CT',
 'TX',
 'NY',
 'OR',
 'NC',
 'NJ',
 'MA')

In [211]:
set(cdi_state_names) - set(population_state_names)

set()

In [212]:
duckdb.sql("""
    SELECT Sex, Ethnicity, Origin
    FROM cdi
    GROUP BY Sex, Ethnicity, Origin
""")

┌─────────┬─────────────┬──────────────┐
│   Sex   │  Ethnicity  │    Origin    │
│ varchar │   varchar   │   varchar    │
├─────────┼─────────────┼──────────────┤
│ Both    │ Black       │ Not Hispanic │
│ Both    │ Multiracial │ Not Hispanic │
│ Both    │ Asian       │ Not Hispanic │
│ Both    │ White       │ Not Hispanic │
│ Both    │ All         │ Both         │
│ Female  │ All         │ Both         │
│ Both    │ AIAN        │ Not Hispanic │
│ Male    │ All         │ Both         │
│ Both    │ All         │ Hispanic     │
│ Both    │ NHPI        │ Not Hispanic │
│ Both    │ Other       │ Not Hispanic │
├─────────┴─────────────┴──────────────┤
│ 11 rows                    3 columns │
└──────────────────────────────────────┘

In [213]:
duckdb.sql("""
    SELECT DISTINCT(Sex)
    FROM cdi
""")

┌─────────┐
│   Sex   │
│ varchar │
├─────────┤
│ Female  │
│ Male    │
│ Both    │
└─────────┘

In [214]:
duckdb.sql("""
    SELECT DISTINCT(Ethnicity)
    FROM cdi
""")

┌─────────────┐
│  Ethnicity  │
│   varchar   │
├─────────────┤
│ NHPI        │
│ Multiracial │
│ All         │
│ White       │
│ Black       │
│ AIAN        │
│ Other       │
│ Asian       │
└─────────────┘

In [215]:
duckdb.sql("""
    SELECT DISTINCT(Origin)
    FROM cdi
""")

┌──────────────┐
│    Origin    │
│   varchar    │
├──────────────┤
│ Both         │
│ Hispanic     │
│ Not Hispanic │
└──────────────┘

In [216]:
duckdb.sql("""
    WITH Stratifications AS (
        SELECT Sex, Ethnicity, Origin, DENSE_RANK() OVER(ORDER BY Sex, Ethnicity, Origin) AS StratificationID
        FROM cdi
    )
           
    SELECT *
    FROM Stratifications
    GROUP BY Sex, Ethnicity, Origin, StratificationID
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │      int64       │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Male    │ All         │ Both         │               11 │
│ Both    │ AIAN        │ Not Hispanic │                1 │
│ Female  │ All         │ Both         │               10 │
│ Both    │ All         │ Both         │                2 │
│ Both    │ Asian       │ Not Hispanic │                4 │
│ Both    │ White       │ Not Hispanic │                9 │
│ Both    │ Multiracial │ Not Hispanic │                6 │
│ Both    │ All         │ Hispanic     │                3 │
│ Both    │ Black       │ Not Hispanic │                5 │
│ Both    │ NHPI        │ Not Hispanic │                7 │
│ Both    │ Other       │ Not Hispanic │                8 │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 11 rows                                       4 columns │
└─────────────────────────────────────────────────────────┘