# Now that all necessary data have now been extracted, transformed, dumped to parquet files in a lake (AWS S3) and then loaded into a DWH (DuckDB/Motherduck) we can start doing our/ analyses and do further transformations and draw insights through querying

In [57]:
import duckdb
import os

from dotenv import load_dotenv
from pathlib import Path
from duckdb.typing import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Local connection

In [58]:
# # C:\Users\LARRY\Documents\Scripts\data-engineering-path\chronic-disease-analyses\chronic_disease_analyses_db.db
# conn = duckdb.connect("chronic_disease_analyses_db.db")

# remote connection

In [59]:
# Build paths inside the project like this: BASE_DIR / 'subdir'.
# use this only in development
print("loading env variables...")
env_dir = Path('./').resolve()
load_dotenv(os.path.join(env_dir, '.env'))
print("env variables loaded.\n")

loading env variables...
env variables loaded.

In [60]:
# jdbc:duckdb:md:chronic_disease_analyses_db
# duckdb:///md:chronic_disease_analyses_db
print("connecting to duckdb...")
conn = duckdb.connect(f"md:chronic_disease_analyses_db?motherduck_token={os.environ['MOTHERDUCK_TOKEN']}")
print("connected to duckdb.\n")

connecting to duckdb...
connected to duckdb.

In [61]:
tables = [
    table
    for table_tuple in conn.sql("""SHOW TABLES""").fetchall()
    for table in table_tuple 
]
tables

['CDI',
 'CDILocation',
 'CDIStratification',
 'DataValueType',
 'Population',
 'PopulationState',
 'PopulationStratification',
 'Question',
 'Stratification']

In [62]:
for table in tables:
    counts = conn.sql(f"""SELECT COUNT(*) FROM {table}""").fetchall()[0][0]
    print(counts)

678471
51
11
15
2526336
51
24
192
35

In [63]:
conn.sql("""
    SELECT * FROM CDILocation
""")

┌────────────┬────────────────┬─────────────────────┬────────────────────┐
│ LocationID │  LocationDesc  │      Latitude       │     Longitude      │
│  varchar   │    varchar     │       double        │       double       │
├────────────┼────────────────┼─────────────────────┼────────────────────┤
│ NM         │ New Mexico     │ -106.24058098499967 │  34.52088095200048 │
│ OK         │ Oklahoma       │  -97.52107021399968 │  35.47203135600046 │
│ GA         │ Georgia        │  -83.62758034599966 │  32.83968109300048 │
│ KY         │ Kentucky       │  -84.77497104799966 │ 37.645970271000465 │
│ ND         │ North Dakota   │ -100.11842104899966 │  47.47531977900047 │
│ WY         │ Wyoming        │ -108.10983035299967 │  43.23554134300048 │
│ TN         │ Tennessee      │  -85.77449091399967 │  35.68094058000048 │
│ LA         │ Louisiana      │  -92.44568007099969 │  31.31266064400046 │
│ NE         │ Nebraska       │  -99.36572062299967 │   41.6410409880005 │
│ AK         │ Alaska         │ -147.72205903599973 │  64.84507995700051 │
│ ·          │   ·            │          ·          │          ·         │
│ ·          │   ·            │          ·          │          ·         │
│ ·          │   ·            │          ·          │          ·         │
│ AZ         │ Arizona        │ -111.76381127699972 │ 34.865970280000454 │
│ IN         │ Indiana        │  -86.14996019399968 │ 39.766910452000445 │
│ MN         │ Minnesota      │  -94.79420050299967 │  46.35564873600049 │
│ HI         │ Hawaii         │ -157.85774940299973 │ 21.304850435000446 │
│ NH         │ New Hampshire  │  -71.50036091999965 │  43.65595011300047 │
│ AR         │ Arkansas       │  -92.27449074299966 │  34.74865012400045 │
│ NY         │ New York       │  -75.54397042699964 │  42.82700103200045 │
│ SC         │ South Carolina │  -81.04537120699968 │ 33.998821303000454 │
│ CT         │ Connecticut    │  -72.64984095199964 │  41.56266102000046 │
│ CO         │ Colorado       │ -106.13361092099967 │ 38.843840757000464 │
├────────────┴────────────────┴─────────────────────┴────────────────────┤
│ 51 rows (20 shown)                                           4 columns │
└────────────────────────────────────────────────────────────────────────┘

In [64]:
conn.sql("""
    SELECT * FROM CDIStratification
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │     varchar      │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Male    │ All         │ Both         │ B_M_ALL          │
│ Both    │ White       │ Not Hispanic │ NH_B_WHITE       │
│ Both    │ Black       │ Not Hispanic │ NH_B_BLACK       │
│ Both    │ AIAN        │ Not Hispanic │ NH_B_AIAN        │
│ Both    │ Multiracial │ Not Hispanic │ NH_B_MULTI       │
│ Both    │ NHPI        │ Not Hispanic │ NH_B_NHPI        │
│ Both    │ Other       │ Not Hispanic │ NH_B_OTHER       │
│ Female  │ All         │ Both         │ B_F_ALL          │
│ Both    │ All         │ Hispanic     │ H_B_ALL          │
│ Both    │ All         │ Both         │ B_B_ALL          │
│ Both    │ Asian       │ Not Hispanic │ NH_B_ASIAN       │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 11 rows                                       4 columns │
└─────────────────────────────────────────────────────────┘

In [65]:
conn.sql("""
    SELECT * FROM DataValueType
""")

┌───────────────────┬──────────────────────────────────────────┐
│  DataValueTypeID  │              DataValueType               │
│      varchar      │                 varchar                  │
├───────────────────┼──────────────────────────────────────────┤
│ MEDIAN            │ Median                                   │
│ NMBR              │ Number                                   │
│ AGEADJRATE        │ Age-adjusted Rate                        │
│ PERCAPALC         │ Per capita alcohol consumption           │
│ USD               │ US Dollars                               │
│ AGEADJMEAN        │ Age-adjusted Mean                        │
│ PREV              │ Prevalence                               │
│ MEAN              │ Mean                                     │
│ AVGANNCRDRATE     │ Average Annual Crude Rate                │
│ CRDRATE           │ Crude Rate                               │
│ AGEADJPREV        │ Age-adjusted Prevalence                  │
│ AVGANNAGEADJRATE  │ Average Annual Age-adjusted Rate         │
│ PRCT              │ Percent                                  │
│ CRDPREV           │ Crude Prevalence                         │
│ AGESEXRACEADJRATE │ Adjusted by age, sex, race and ethnicity │
├───────────────────┴──────────────────────────────────────────┤
│ 15 rows                                            2 columns │
└──────────────────────────────────────────────────────────────┘

In [66]:
conn.sql("""
    SELECT * FROM Question
""")

┌────────────┬─────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────┬─────────────────────────────────────────────────┬──────────┬────────┐
│ QuestionID │ TopicID │                                                   Question                                                   │                      Topic                      │ AgeStart │ AgeEnd │
│  varchar   │ varchar │                                                   varchar                                                    │                     varchar                     │  double  │ double │
├────────────┼─────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────┼─────────────────────────────────────────────────┼──────────┼────────┤
│ ART1_1     │ ART     │ Arthritis among adults aged >= 18 years                                                                      │ Arthritis                                       │     18.0 │    inf │
│ ALC4_0     │ ALC     │ Binge drinking intensity among adults aged >= 18 years who binge drink                                       │ Alcohol                                         │     18.0 │    inf │
│ NPAW2_3    │ NPAW    │ Overweight or obesity among women aged 18-44 years                                                           │ Nutrition, Physical Activity, and Weight Status │     18.0 │   44.0 │
│ DIA7_0     │ DIA     │ Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                                │ Diabetes                                        │     18.0 │    inf │
│ ORH1_2     │ ORH     │ Dental visits among children and adolescents aged 1-17 years                                                 │ Oral Health                                     │      1.0 │   17.0 │
│ OLD3_1     │ OLD     │ Proportion of older adults aged >= 65 years who are up to date on a core set of clinical preventive services │ Older Adults                                    │     65.0 │    inf │
│ NPAW4_1    │ NPAW    │ Median daily frequency of fruit consumption among high school students                                       │ Nutrition, Physical Activity, and Weight Status │     14.0 │   18.0 │
│ OVC6_2     │ OVC     │ Self-rated health status among women aged 18-44 years                                                        │ Overarching Conditions                          │     18.0 │   44.0 │
│ DIA11_3    │ DIA     │ Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes                     │ Diabetes                                        │     18.0 │    inf │
│ OVC5_0     │ OVC     │ Premature mortality among adults aged 45-64 years                                                            │ Overarching Conditions                          │     45.0 │   64.0 │
│   ·        │  ·      │                         ·                                                                                    │           ·                                     │       ·  │     ·  │
│   ·        │  ·      │                         ·                                                                                    │           ·                                     │       ·  │     ·  │
│   ·        │  ·      │                         ·                                                                                    │           ·                                     │       ·  │     ·  │
│ NPAW16_0   │ NPAW    │ Receiving formula supplementation within the first 2 days of life among breastfed infants                    │ Nutrition, Physical Activity, and Weight Status │     NULL │   NULL │
│ RPH3_0     │ RPH     │ Folic acid supplementation                                                                                   │ Reproductive Health                             │     NULL │   NULL │
│ NPAW13_2   │ NPAW    │ Secondary schools that allow students to purchase soda or fruit drinks                                       │ Nutrition, Physical Activity, and Weight Status │     NULL │   NULL │
│ CAN6_2     │ CAN     │ Cancer of the female cervix, mortality                                                                       │ Cancer                                          │     NULL │   NULL │
│ NPAW7_1    │ NPAW    │ Farmers markets that accept Women and Infant Children (WIC) farmers market nutrition program coupons         │ Nutrition, Physical Activity, and Weight Status │     NULL │   NULL │
│ DIA3_2     │ DIA     │ Prevalence of gestational diabetes                                                                           │ Diabetes                                        │     NULL │   NULL │
│ CVD1_4     │ CVD     │ Mortality from heart failure                                                                                 │ Cardiovascular Disease                          │     NULL │   NULL │
│ COPD6_1    │ COPD    │ Emergency department visit rate for chronic obstructive pulmonary disease as first-listed diagnosis          │ Chronic Obstructive Pulmonary Disease           │     NULL │   NULL │
│ ORH2_2     │ ORH     │ Preventive dental care before pregnancy                                                                      │ Oral Health                                     │     NULL │   NULL │
│ CVD8_0     │ CVD     │ Pre-pregnancy hypertension                                                                                   │ Cardiovascular Disease                          │     NULL │   NULL │
├────────────┴─────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────┴─────────────────────────────────────────────────┴──────────┴────────┤
│ 192 rows (20 shown)                                                                                                                                                                             6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [67]:
conn.sql("""
    SELECT * FROM Population
""")

┌─────────┬───────┬──────────────────┬───────┬────────────┐
│ StateID │  Age  │ StratificationID │ Year  │ Population │
│ varchar │ float │     varchar      │ int32 │   int64    │
├─────────┼───────┼──────────────────┼───────┼────────────┤
│ AL      │   0.0 │ NH_M_WHITE       │  2000 │      19270 │
│ AL      │   0.0 │ NH_M_WHITE       │  2001 │      19612 │
│ AL      │   0.0 │ NH_M_WHITE       │  2002 │      18731 │
│ AL      │   0.0 │ NH_M_WHITE       │  2003 │      18623 │
│ AL      │   0.0 │ NH_M_WHITE       │  2004 │      18659 │
│ AL      │   0.0 │ NH_M_WHITE       │  2005 │      18816 │
│ AL      │   0.0 │ NH_M_WHITE       │  2006 │      18877 │
│ AL      │   0.0 │ NH_M_WHITE       │  2007 │      19027 │
│ AL      │   0.0 │ NH_M_WHITE       │  2008 │      18937 │
│ AL      │   0.0 │ NH_M_WHITE       │  2009 │      18039 │
│ ·       │    ·  │     ·            │    ·  │          · │
│ ·       │    ·  │     ·            │    ·  │          · │
│ ·       │    ·  │     ·            │    ·  │          · │
│ AL      │  53.0 │ H_M_MULTI        │  2000 │          3 │
│ AL      │  53.0 │ H_M_MULTI        │  2001 │          4 │
│ AL      │  53.0 │ H_M_MULTI        │  2002 │          9 │
│ AL      │  53.0 │ H_M_MULTI        │  2003 │          6 │
│ AL      │  53.0 │ H_M_MULTI        │  2004 │          9 │
│ AL      │  53.0 │ H_M_MULTI        │  2005 │          7 │
│ AL      │  53.0 │ H_M_MULTI        │  2006 │          8 │
│ AL      │  53.0 │ H_M_MULTI        │  2007 │          7 │
│ AL      │  53.0 │ H_M_MULTI        │  2008 │          8 │
│ AL      │  53.0 │ H_M_MULTI        │  2009 │         11 │
├─────────┴───────┴──────────────────┴───────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                 5 columns │
└─────────────────────────────────────────────────────────┘

In [68]:
conn.sql("""
    SELECT * FROM PopulationState
""")

┌───────────────┬─────────┐
│     State     │ StateID │
│    varchar    │ varchar │
├───────────────┼─────────┤
│ Mississippi   │ MS      │
│ South Dakota  │ SD      │
│ Utah          │ UT      │
│ Kentucky      │ KY      │
│ California    │ CA      │
│ Nebraska      │ NE      │
│ New Hampshire │ NH      │
│ Delaware      │ DE      │
│ Minnesota     │ MN      │
│ Nevada        │ NV      │
│   ·           │ ·       │
│   ·           │ ·       │
│   ·           │ ·       │
│ Michigan      │ MI      │
│ Illinois      │ IL      │
│ Maryland      │ MD      │
│ Alaska        │ AK      │
│ Connecticut   │ CT      │
│ Vermont       │ VT      │
│ Massachusetts │ MA      │
│ Oklahoma      │ OK      │
│ West Virginia │ WV      │
│ Virginia      │ VA      │
├───────────────┴─────────┤
│   51 rows (20 shown)    │
└─────────────────────────┘

In [69]:
conn.sql("""
    SELECT * FROM PopulationStratification
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │     varchar      │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Female  │ Black       │ Not Hispanic │ NH_F_BLACK       │
│ Female  │ Asian       │ Not Hispanic │ NH_F_ASIAN       │
│ Female  │ NHPI        │ Hispanic     │ H_F_NHPI         │
│ Male    │ Asian       │ Not Hispanic │ NH_M_ASIAN       │
│ Male    │ White       │ Not Hispanic │ NH_M_WHITE       │
│ Male    │ AIAN        │ Not Hispanic │ NH_M_AIAN        │
│ Male    │ Multiracial │ Hispanic     │ H_M_MULTI        │
│ Male    │ Black       │ Not Hispanic │ NH_M_BLACK       │
│ Male    │ Black       │ Hispanic     │ H_M_BLACK        │
│ Female  │ Asian       │ Hispanic     │ H_F_ASIAN        │
│  ·      │   ·         │    ·         │     ·            │
│  ·      │   ·         │    ·         │     ·            │
│  ·      │   ·         │    ·         │     ·            │
│ Male    │ Asian       │ Hispanic     │ H_M_ASIAN        │
│ Male    │ AIAN        │ Hispanic     │ H_M_AIAN         │
│ Female  │ Multiracial │ Hispanic     │ H_F_MULTI        │
│ Female  │ White       │ Hispanic     │ H_F_WHITE        │
│ Female  │ AIAN        │ Hispanic     │ H_F_AIAN         │
│ Male    │ NHPI        │ Hispanic     │ H_M_NHPI         │
│ Female  │ Multiracial │ Not Hispanic │ NH_F_MULTI       │
│ Female  │ Black       │ Hispanic     │ H_F_BLACK        │
│ Female  │ AIAN        │ Not Hispanic │ NH_F_AIAN        │
│ Male    │ White       │ Hispanic     │ H_M_WHITE        │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 24 rows (20 shown)                            4 columns │
└─────────────────────────────────────────────────────────┘

In [70]:
conn.sql("""
    SELECT COUNT(*) 
    FROM PopulationState
    -- WHERE COLUMNS(*) IS NOT NULL
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           51 │
└──────────────┘

In [71]:
conn.sql("""
    SELECT *
    FROM CDI
    ORDER BY LogID DESC
    LIMIT 10
""")

┌───────────┬─────────┬────────────┬───────────────┬───────────┬────────────────────┬─────────────────────┬────────────┬─────────────────┬──────────────────┬────────┐
│ YearStart │ YearEnd │ LocationID │ DataValueUnit │ DataValue │ LowConfidenceLimit │ HighConfidenceLimit │ QuestionID │ DataValueTypeID │ StratificationID │ LogID  │
│   int32   │  int32  │  varchar   │    varchar    │  double   │       double       │       double        │  varchar   │     varchar     │     varchar      │ int32  │
├───────────┼─────────┼────────────┼───────────────┼───────────┼────────────────────┼─────────────────────┼────────────┼─────────────────┼──────────────────┼────────┤
│      2012 │    2012 │ MS         │ %             │      75.3 │               71.2 │                79.0 │ TOB9_0     │ PRCT            │ B_B_ALL          │ 678471 │
│      2018 │    2018 │ MS         │ %             │      72.5 │               67.8 │                76.7 │ TOB9_0     │ PRCT            │ B_B_ALL          │ 678470 │
│      2016 │    2016 │ ME         │ %             │      62.3 │               61.1 │                63.5 │ TOB9_0     │ PRCT            │ B_B_ALL          │ 678469 │
│      2018 │    2018 │ HI         │ %             │      61.5 │               59.5 │                63.5 │ TOB9_0     │ PRCT            │ B_B_ALL          │ 678468 │
│      2014 │    2014 │ AK         │ %             │      50.4 │               48.5 │                52.2 │ TOB9_0     │ PRCT            │ B_B_ALL          │ 678467 │
│      2014 │    2014 │ MO         │ %             │      30.0 │               NULL │                NULL │ TOB8_0     │ PRCT            │ B_B_ALL          │ 678466 │
│      2007 │    2007 │ TX         │ %             │      25.0 │               NULL │                NULL │ TOB8_0     │ PRCT            │ B_B_ALL          │ 678465 │
│      2014 │    2014 │ MN         │ %             │      10.0 │               NULL │                NULL │ TOB8_0     │ PRCT            │ B_B_ALL          │ 678464 │
│      2019 │    2019 │ NJ         │ %             │     100.0 │               NULL │                NULL │ TOB6_0     │ PRCT            │ B_B_ALL          │ 678463 │
│      2019 │    2019 │ MN         │ %             │     100.0 │               NULL │                NULL │ TOB6_0     │ PRCT            │ B_B_ALL          │ 678462 │
├───────────┴─────────┴────────────┴───────────────┴───────────┴────────────────────┴─────────────────────┴────────────┴─────────────────┴──────────────────┴────────┤
│ 10 rows                                                                                                                                                 11 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [72]:
conn.sql("""
    -- Create a 2nd CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID AS ID,
            c.YearStart AS YearStart, 
            c.YearEnd AS YearEnd, 
            cl.LocationDesc AS LocationDesc, 
            c.DataValueUnit AS DataValueUnit,
            c.DataValue AS DataValue,
            q.Question AS Question,
            q.AgeStart AS AgeStart,
            q.AgeEnd AS AgeEnd,
            dvt.DataValueType AS DataValueType,
            cs.Sex AS Sex,
            cs.Ethnicity AS Ethnicity,
            cs.Origin AS Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN CDIStratification cs
        ON c.StratificationID = cs.StratificationID
        ORDER BY ID ASC
    )
    SELECT * FROM MergedCDI;
""")

┌───────┬───────────┬─────────┬────────────────┬───────────────┬───────────┬─────────────────────────────────────────────────────────────────────────────────────────┬──────────┬────────┬─────────────────────────┬─────────┬───────────┬──────────────┐
│  ID   │ YearStart │ YearEnd │  LocationDesc  │ DataValueUnit │ DataValue │                                        Question                                         │ AgeStart │ AgeEnd │      DataValueType      │   Sex   │ Ethnicity │    Origin    │
│ int32 │   int32   │  int32  │    varchar     │    varchar    │  double   │                                         varchar                                         │  double  │ double │         varchar         │ varchar │  varchar  │   varchar    │
├───────┼───────────┼─────────┼────────────────┼───────────────┼───────────┼─────────────────────────────────────────────────────────────────────────────────────────┼──────────┼────────┼─────────────────────────┼─────────┼───────────┼──────────────┤
│     1 │      2015 │    2015 │ Illinois       │ %             │      10.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     2 │      2015 │    2015 │ Rhode Island   │ %             │      12.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     3 │      2013 │    2013 │ Massachusetts  │ %             │      13.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     4 │      2015 │    2015 │ Florida        │ %             │      16.0 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     5 │      2017 │    2017 │ South Carolina │ %             │      15.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│     6 │      2015 │    2015 │ California     │ %             │      17.1 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     7 │      2019 │    2019 │ Virginia       │ %             │      16.1 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│     8 │      2017 │    2017 │ Virginia       │ %             │      17.8 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│     9 │      2015 │    2015 │ Virginia       │ %             │      17.5 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│    10 │      2019 │    2019 │ Hawaii         │ %             │      19.4 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ White     │ Not Hispanic │
│     · │        ·  │      ·  │   ·            │ ·             │        ·  │            ·                                                                            │       ·  │     ·  │        ·                │  ·      │  ·        │  ·           │
│     · │        ·  │      ·  │   ·            │ ·             │        ·  │            ·                                                                            │       ·  │     ·  │        ·                │  ·      │  ·        │  ·           │
│     · │        ·  │      ·  │   ·            │ ·             │        ·  │            ·                                                                            │       ·  │     ·  │        ·                │  ·      │  ·        │  ·           │
│  9991 │      2017 │    2017 │ Illinois       │ %             │      85.5 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ All       │ Both         │
│  9992 │      2016 │    2016 │ Mississippi    │ %             │      87.3 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ White     │ Not Hispanic │
│  9993 │      2014 │    2014 │ Utah           │ %             │      83.7 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ White     │ Not Hispanic │
│  9994 │      2016 │    2016 │ Texas          │ %             │      85.7 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ All       │ Both         │
│  9995 │      2014 │    2014 │ Louisiana      │ %             │      86.4 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Age-adjusted Prevalence │ Female  │ All       │ Both         │
│  9996 │      2019 │    2019 │ Colorado       │ %             │      87.2 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Male    │ All       │ Both         │
│  9997 │      2013 │    2013 │ Texas          │ %             │      85.8 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Female  │ All       │ Both         │
│  9998 │      2012 │    2012 │ Delaware       │ %             │      87.0 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ All       │ Both         │
│  9999 │      2013 │    2013 │ Florida        │ %             │      84.4 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Age-adjusted Prevalence │ Female  │ All       │ Both         │
│ 10000 │      2019 │    2019 │ Arizona        │ %             │      84.7 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Age-adjusted Prevalence │ Both    │ White     │ Not Hispanic │
├───────┴───────────┴─────────┴────────────────┴───────────────┴───────────┴─────────────────────────────────────────────────────────────────────────────────────────┴──────────┴────────┴─────────────────────────┴─────────┴───────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                              13 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [73]:
conn.sql("""
    -- Create a 2nd CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID AS ID,
            c.YearStart AS YearStart, 
            c.YearEnd AS YearEnd, 
            cl.LocationDesc AS LocationDesc, 
            c.DataValueUnit AS DataValueUnit,
            c.DataValue AS DataValue,
            q.Question AS Question,
            q.AgeStart AS AgeStart,
            q.AgeEnd AS AgeEnd,
            dvt.DataValueType AS DataValueType,
            cs.Sex AS Sex,
            cs.Ethnicity AS Ethnicity,
            cs.Origin AS Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN CDIStratification cs
        ON c.StratificationID = cs.StratificationID
    )

    -- groups the rows with the same YearStart, YearEnd, 
    -- LocationDesc, AgeStart, AgeEnd, Sex, Ethnicity, and Origin
    -- as this will simulate the rows taking on different values
    -- which we will need to dynamically aggregate the Population
    -- table
    SELECT 
        MAX(YearStart) AS YearStart, 
        MAX(YearEnd) AS YearEnd, 
        MAX(LocationDesc) AS LocationDesc, 
        MAX(AgeStart) AS AgeStart, 
        MAX(AgeEnd) AS AgeEnd, 
        MAX(Sex) AS Sex, 
        MAX(Ethnicity) AS Ethnicity, 
        MAX(Origin) AS Origin
    FROM MergedCDI
    GROUP BY (
        YearStart, 
        YearEnd, 
        LocationDesc, 
        AgeStart, 
        AgeEnd,
        Sex,
        Ethnicity,
        Origin
    )
""")

┌───────────┬─────────┬────────────────┬──────────┬────────┬─────────┬───────────┬──────────────┐
│ YearStart │ YearEnd │  LocationDesc  │ AgeStart │ AgeEnd │   Sex   │ Ethnicity │    Origin    │
│   int32   │  int32  │    varchar     │  double  │ double │ varchar │  varchar  │   varchar    │
├───────────┼─────────┼────────────────┼──────────┼────────┼─────────┼───────────┼──────────────┤
│      2010 │    2010 │ Minnesota      │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │
│      2017 │    2017 │ North Dakota   │     NULL │   NULL │ Both    │ All       │ Both         │
│      2012 │    2012 │ Florida        │     NULL │   NULL │ Both    │ Black     │ Not Hispanic │
│      2020 │    2020 │ South Carolina │     NULL │   NULL │ Female  │ All       │ Both         │
│      2012 │    2012 │ Minnesota      │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │
│      2010 │    2010 │ Idaho          │     NULL │   NULL │ Male    │ All       │ Both         │
│      2018 │    2018 │ Maine          │     NULL │   NULL │ Both    │ White     │ Not Hispanic │
│      2012 │    2012 │ Pennsylvania   │     NULL │   NULL │ Both    │ All       │ Both         │
│      2020 │    2020 │ Washington     │     NULL │   NULL │ Male    │ All       │ Both         │
│      2012 │    2012 │ Massachusetts  │     NULL │   NULL │ Male    │ All       │ Both         │
│        ·  │      ·  │     ·          │       ·  │     ·  │  ·      │  ·        │  ·           │
│        ·  │      ·  │     ·          │       ·  │     ·  │  ·      │  ·        │  ·           │
│        ·  │      ·  │     ·          │       ·  │     ·  │  ·      │  ·        │  ·           │
│      2020 │    2020 │ New Jersey     │     45.0 │    inf │ Both    │ Black     │ Not Hispanic │
│      2020 │    2020 │ Pennsylvania   │     45.0 │    inf │ Both    │ Black     │ Not Hispanic │
│      2014 │    2014 │ Ohio           │     45.0 │    inf │ Female  │ All       │ Both         │
│      2015 │    2015 │ Georgia        │     45.0 │    inf │ Both    │ NHPI      │ Not Hispanic │
│      2019 │    2019 │ Maryland       │     45.0 │    inf │ Both    │ All       │ Hispanic     │
│      2014 │    2014 │ Washington     │     45.0 │    inf │ Both    │ NHPI      │ Not Hispanic │
│      2019 │    2019 │ Washington     │     45.0 │    inf │ Both    │ All       │ Hispanic     │
│      2017 │    2017 │ Oregon         │     45.0 │    inf │ Both    │ All       │ Hispanic     │
│      2015 │    2015 │ California     │     45.0 │    inf │ Male    │ All       │ Both         │
│      2015 │    2015 │ North Carolina │     45.0 │    inf │ Both    │ AIAN      │ Not Hispanic │
├───────────┴─────────┴────────────────┴──────────┴────────┴─────────┴───────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                       8 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────┘

In [74]:
conn.sql("""
    WITH MergedPopulation AS (
        SELECT 
            ps.State AS State,
            p.Age AS Age,
            p.Year AS Year,
            pstr.Sex AS Sex,
            pstr.Ethnicity AS Ethnicity,
            pstr.Origin AS Origin,
            p.Population AS Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN PopulationStratification pstr
        ON p.StratificationID = pstr.StratificationID
    )

    SELECT 
        Year, 
        SUM(Population) AS TotalPopulation
    FROM MergedPopulation
    WHERE (Year BETWEEN 2011 AND 2013) AND
    (Age BETWEEN 18 AND 85) AND
    State = 'Wyoming' AND
    Sex IN ('Male') AND
    Ethnicity IN ('White', 'Black', 'AIAN', 'Asian', 'NHPI', 'Multiracial') AND
    Origin IN ('Hispanic',)
    GROUP BY Year
    ORDER BY Year ASC
""")

┌───────┬─────────────────┐
│ Year  │ TotalPopulation │
│ int32 │     int128      │
├───────┼─────────────────┤
│  2011 │           17565 │
│  2012 │           18734 │
│  2013 │           19147 │
└───────┴─────────────────┘

I have loaded two fact tables CDI and Population and a couple dimension tables in DuckDB. I did joins on the CDI fact table and its respective dimension tables which yields a snippet of the table below CDI table merged

And below is the Population fact table merged with its other dimension tables yielding this snippet below Population table merged enter image description here

Now what I want to basically do is filter out the Population table based only on the values of this particular row of the CDI table. In this case the current row outlined in green will somehow do this query
```
SELECT Year, SUM(Population) AS TotalPopulation
FROM Population
WHERE (Year BETWEEN 2018 AND 2018) AND
(Age BETWEEN 18 AND 85) AND
State = 'Pennsylvania' AND
Sex IN ('Male', 'Female') AND
Ethnicity IN ('Multiracial') AND
Origin IN ('Not Hispanic')
GROUP BY Year
ORDER BY Year ASC
```

This query aggregates the Population column values based on the row values of the CDI table. What I'm just at a loss in trying to implement is doing this aggregation operation for all row values in the CDI table. Here is a full visualization of what I'm trying to do. enter image description here

How would I implement this type of varying filtering aggregation based on each row column values of the CDI table? I'm using DuckDB as the OLAP DB here so ANSI SQL is what I'm trying to use to implement this task. Could it be possible only using this kind of SQL?

In [75]:
conn.sql("""
    SELECT current_schema();
""")

┌──────────────────┐
│ current_schema() │
│     varchar      │
├──────────────────┤
│ main             │
└──────────────────┘

In [76]:
conn.sql("""
    SELECT * FROM duckdb_columns();
""")

┌─────────────────────────────┬──────────────┬─────────────┬────────────┬────────────────────┬───────────┬─────────────────────┬──────────────┬─────────┬──────────┬────────────────┬─────────────┬───────────┬──────────────┬──────────────────────────┬───────────────────┬─────────────────────────┬───────────────┐
│        database_name        │ database_oid │ schema_name │ schema_oid │     table_name     │ table_oid │     column_name     │ column_index │ comment │ internal │ column_default │ is_nullable │ data_type │ data_type_id │ character_maximum_length │ numeric_precision │ numeric_precision_radix │ numeric_scale │
│           varchar           │    int64     │   varchar   │   int64    │      varchar       │   int64   │       varchar       │    int32     │ varchar │ boolean  │    varchar     │   boolean   │  varchar  │    int64     │          int32           │       int32       │          int32          │     int32     │
├─────────────────────────────┼──────────────┼─────────────┼────────────┼────────────────────┼───────────┼─────────────────────┼──────────────┼─────────┼──────────┼────────────────┼─────────────┼───────────┼──────────────┼──────────────────────────┼───────────────────┼─────────────────────────┼───────────────┤
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ YearStart           │            1 │ NULL    │ false    │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ YearEnd             │            2 │ NULL    │ false    │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ LocationID          │            3 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ DataValueUnit       │            4 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ DataValue           │            5 │ NULL    │ false    │ NULL           │ true        │ DOUBLE    │           23 │                     NULL │                53 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ LowConfidenceLimit  │            6 │ NULL    │ false    │ NULL           │ true        │ DOUBLE    │           23 │                     NULL │                53 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ HighConfidenceLimit │            7 │ NULL    │ false    │ NULL           │ true        │ DOUBLE    │           23 │                     NULL │                53 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ QuestionID          │            8 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ DataValueTypeID     │            9 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       5266 │ CDI                │      5267 │ StratificationID    │           10 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│  ·                          │           ·  │  ·          │         ·  │  ·                 │        ·  │  ·                  │            · │  ·      │  ·       │  ·             │  ·          │    ·      │            · │                       ·  │                ·  │                      ·  │            ·  │
│  ·                          │           ·  │  ·          │         ·  │  ·                 │        ·  │  ·                  │            · │  ·      │  ·       │  ·             │  ·          │    ·      │            · │                       ·  │                ·  │                      ·  │            ·  │
│  ·                          │           ·  │  ·          │         ·  │  ·                 │        ·  │  ·                  │            · │  ·      │  ·       │  ·             │  ·          │    ·      │            · │                       ·  │                ·  │                      ·  │            ·  │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_master │      6793 │ type                │            1 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_master │      6793 │ name                │            2 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_master │      6793 │ tbl_name            │            3 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_master │      6793 │ rootpage            │            4 │ NULL    │ true     │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_master │      6793 │ sql                 │            5 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_schema │      6794 │ type                │            1 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_schema │      6794 │ name                │            2 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_schema │      6794 │ tbl_name            │            3 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_schema │      6794 │ rootpage            │            4 │ NULL    │ true     │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ temp                        │         6715 │ main        │       6716 │ sqlite_temp_schema │      6794 │ sql                 │            5 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
├─────────────────────────────┴──────────────┴─────────────┴────────────┴────────────────────┴───────────┴─────────────────────┴──────────────┴─────────┴──────────┴────────────────┴─────────────┴───────────┴──────────────┴──────────────────────────┴───────────────────┴─────────────────────────┴───────────────┤
│ 1864 rows (20 shown)                                                                                                                                                                                                                                                                                     18 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [77]:
conn.sql("""
    SELECT * FROM Stratification
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │     varchar      │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Female  │ Multiracial │ Hispanic     │ H_F_MULTI        │
│ Both    │ AIAN        │ Not Hispanic │ NH_B_AIAN        │
│ Male    │ AIAN        │ Not Hispanic │ NH_M_AIAN        │
│ Female  │ AIAN        │ Hispanic     │ H_F_AIAN         │
│ Male    │ White       │ Not Hispanic │ NH_M_WHITE       │
│ Female  │ Multiracial │ Not Hispanic │ NH_F_MULTI       │
│ Female  │ All         │ Both         │ B_F_ALL          │
│ Male    │ Black       │ Hispanic     │ H_M_BLACK        │
│ Male    │ Multiracial │ Not Hispanic │ NH_M_MULTI       │
│ Male    │ White       │ Hispanic     │ H_M_WHITE        │
│  ·      │  ·          │    ·         │     ·            │
│  ·      │  ·          │    ·         │     ·            │
│  ·      │  ·          │    ·         │     ·            │
│ Both    │ NHPI        │ Not Hispanic │ NH_B_NHPI        │
│ Female  │ Asian       │ Hispanic     │ H_F_ASIAN        │
│ Female  │ Asian       │ Not Hispanic │ NH_F_ASIAN       │
│ Male    │ NHPI        │ Not Hispanic │ NH_M_NHPI        │
│ Female  │ White       │ Hispanic     │ H_F_WHITE        │
│ Male    │ Multiracial │ Hispanic     │ H_M_MULTI        │
│ Both    │ Black       │ Not Hispanic │ NH_B_BLACK       │
│ Female  │ NHPI        │ Hispanic     │ H_F_NHPI         │
│ Both    │ Asian       │ Not Hispanic │ NH_B_ASIAN       │
│ Male    │ Asian       │ Not Hispanic │ NH_M_ASIAN       │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 35 rows (20 shown)                            4 columns │
└─────────────────────────────────────────────────────────┘

In [78]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),

    -- this is just a sample variable
    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    )

    SELECT 
        lt.YearStart, 
        lt.YearEnd,  
        lt.LocationDesc, 
        lt.AgeStart, 
        lt.AgeEnd, 
        lt.Sex, 
        lt.Ethnicity, 
        lt.Origin,
        mp.Population,
        mp.State,
        mp.Age,
        mp.Year,
        mp.Sex,
        mp.Ethnicity,
        mp.Origin
    FROM MergedPopulation mp
    INNER JOIN LeftTable lt
    ON (mp.Year BETWEEN lt.YearStart AND lt.YearEnd) AND
    (mp.State = lt.LocationDesc) AND
    ((mp.Age BETWEEN lt.AgeStart AND (CASE WHEN lt.AgeEnd = 'infinity' THEN 85 ELSE lt.AgeEnd END)) OR (lt.AgeStart IS NULL AND lt.AgeEnd IS NULL)) AND
    (mp.Sex = lt.Sex OR lt.Sex = 'Both') AND
    (mp.Ethnicity = lt.Ethnicity OR lt.Ethnicity = 'All') AND
    (mp.Origin = lt.Origin OR lt.Origin = 'Both')

    -- SELECT * FROM LeftTable
""")

┌───────────┬─────────┬──────────────┬──────────┬────────┬─────────┬───────────┬──────────────┬────────────┬──────────┬───────┬───────┬─────────┬───────────┬──────────────┐
│ YearStart │ YearEnd │ LocationDesc │ AgeStart │ AgeEnd │   Sex   │ Ethnicity │    Origin    │ Population │  State   │  Age  │ Year  │   Sex   │ Ethnicity │    Origin    │
│   int32   │  int32  │   varchar    │  double  │ double │ varchar │  varchar  │   varchar    │   int64    │ varchar  │ float │ int32 │ varchar │  varchar  │   varchar    │
├───────────┼─────────┼──────────────┼──────────┼────────┼─────────┼───────────┼──────────────┼────────────┼──────────┼───────┼───────┼─────────┼───────────┼──────────────┤
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   0.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   1.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   2.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   3.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         18 │ Maryland │   4.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         29 │ Maryland │   5.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   6.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   7.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         16 │ Maryland │   8.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         19 │ Maryland │   9.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  76.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  77.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  78.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  79.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  80.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  81.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  82.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          7 │ Maryland │  83.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  84.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         28 │ Maryland │  85.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
├───────────┴─────────┴──────────────┴──────────┴────────┴─────────┴───────────┴──────────────┴────────────┴──────────┴───────┴───────┴─────────┴───────────┴──────────────┤
│ 172 rows (20 shown)                                                                                                                                           15 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [79]:
conn.sql("""
-- Create a 2nd CTE that will join the necessary
-- values from the dimension tables to the fact
-- table
WITH MergedCDI AS (
  SELECT
      c.LogID AS ID,
      c.YearStart AS YearStart, 
      c.YearEnd AS YearEnd, 
      cl.LocationDesc AS LocationDesc, 
      c.DataValueUnit AS DataValueUnit,
      c.DataValue AS DataValue,
      q.Question AS Question,
      q.AgeStart AS AgeStart,
      q.AgeEnd AS AgeEnd,
      dvt.DataValueType AS DataValueType,
      cs.Sex AS Sex,
      cs.Ethnicity AS Ethnicity,
      cs.Origin AS Origin
  FROM CDI c
  LEFT JOIN CDILocation cl
  ON c.LocationID = cl.LocationID
  LEFT JOIN Question q
  ON c.QuestionID = q.QuestionID
  LEFT JOIN DataValueType dvt
  ON c.DataValueTypeID = dvt.DataValueTypeID
  LEFT JOIN CDIStratification cs
  ON c.StratificationID = cs.StratificationID
),
     
LeftTable AS (
  SELECT *
  FROM MergedCDI
  WHERE AgeStart IS NULL AND AgeEnd IS NULL 
  LIMIT 1
),

MergedPopulation AS (
  SELECT 
    ps.State AS State,
    p.Age AS Age,
    p.Year AS Year,
    pstr.Sex AS Sex,
    pstr.Ethnicity AS Ethnicity,
    pstr.Origin AS Origin,
    p.Population AS Population
  FROM Population p
  LEFT JOIN PopulationState ps
  ON p.StateID = ps.StateID
  LEFT JOIN PopulationStratification pstr
  ON p.StratificationID = pstr.StratificationID
)

SELECT 
  lt.YearStart, 
  lt.YearEnd,  
  lt.LocationDesc, 
  lt.AgeStart, 
  lt.AgeEnd, 
  lt.Sex, 
  lt.Ethnicity, 
  lt.Origin,
  mp.Population,
  mp.State,
  mp.Age,
  mp.Year,
  mp.Sex,
  mp.Ethnicity,
  mp.Origin
FROM MergedPopulation mp
INNER JOIN LeftTable lt
ON (mp.Year BETWEEN lt.YearStart AND lt.YearEnd) AND
(mp.State = lt.LocationDesc) AND
((mp.Age BETWEEN lt.AgeStart AND (CASE WHEN lt.AgeEnd = 'infinity' THEN 85 ELSE lt.AgeEnd END)) OR (lt.AgeStart IS NULL AND lt.AgeEnd IS NULL)) AND
(mp.Sex = lt.Sex OR lt.Sex = 'Both') AND
(mp.Ethnicity = lt.Ethnicity OR lt.Ethnicity = 'All') AND
(mp.Origin = lt.Origin OR lt.Origin = 'Both')
""")

┌───────────┬─────────┬──────────────┬──────────┬────────┬─────────┬───────────┬──────────┬────────────┬──────────┬───────┬───────┬─────────┬───────────┬──────────┐
│ YearStart │ YearEnd │ LocationDesc │ AgeStart │ AgeEnd │   Sex   │ Ethnicity │  Origin  │ Population │  State   │  Age  │ Year  │   Sex   │ Ethnicity │  Origin  │
│   int32   │  int32  │   varchar    │  double  │ double │ varchar │  varchar  │ varchar  │   int64    │ varchar  │ float │ int32 │ varchar │  varchar  │ varchar  │
├───────────┼─────────┼──────────────┼──────────┼────────┼─────────┼───────────┼──────────┼────────────┼──────────┼───────┼───────┼─────────┼───────────┼──────────┤
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1159 │ Arkansas │  50.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1102 │ Arkansas │  51.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1029 │ Arkansas │  52.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1016 │ Arkansas │  53.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │        950 │ Arkansas │  54.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │        807 │ Arkansas │  55.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │        810 │ Arkansas │  56.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │        784 │ Arkansas │  57.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │        742 │ Arkansas │  58.0 │  2018 │ Male    │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │        693 │ Arkansas │  59.0 │  2018 │ Male    │ White     │ Hispanic │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │    ·     │         ·  │    ·     │    ·  │    ·  │  ·      │   ·       │    ·     │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │    ·     │         ·  │    ·     │    ·  │    ·  │  ·      │   ·       │    ·     │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │    ·     │         ·  │    ·     │    ·  │    ·  │  ·      │   ·       │    ·     │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1400 │ Arkansas │  32.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1448 │ Arkansas │  33.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1330 │ Arkansas │  34.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1427 │ Arkansas │  35.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1491 │ Arkansas │  36.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1428 │ Arkansas │  37.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1552 │ Arkansas │  38.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1394 │ Arkansas │  39.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1369 │ Arkansas │  40.0 │  2018 │ Female  │ White     │ Hispanic │
│      2018 │    2018 │ Arkansas     │     NULL │   NULL │ Both    │ All       │ Hispanic │       1287 │ Arkansas │  41.0 │  2018 │ Female  │ White     │ Hispanic │
├───────────┴─────────┴──────────────┴──────────┴────────┴─────────┴───────────┴──────────┴────────────┴──────────┴───────┴───────┴─────────┴───────────┴──────────┤
│ 1032 rows (20 shown)                                                                                                                                  15 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN LeftTable mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    -- SELECT 
    --   LogID,
    --   SUM(Population) AS TotalPopulation
    -- FROM CDIWithPop
    -- GROUP BY LogID
    SELECT * FROM CDIWithPop
""")

┌───────┬───────────────┬───────────┬───────────┬─────────┬────────────┬──────────────┬────────────┬──────────┬────────┬─────────────────┬──────────────────┬──────────────────┬─────────┬───────────┬──────────────┬────────────┬──────────┬───────┬───────┬─────────┬────────────┬──────────────┐
│ LogID │ DataValueUnit │ DataValue │ YearStart │ YearEnd │ LocationID │ LocationDesc │ QuestionID │ AgeStart │ AgeEnd │ DataValueTypeID │  DataValueType   │ StratificationID │   Sex   │ Ethnicity │    Origin    │ Population │  PState  │ PAge  │ PYear │  PSex   │ PEthnicity │   POrigin    │
│ int32 │    varchar    │  double   │   int32   │  int32  │  varchar   │   varchar    │  varchar   │  double  │ double │     varchar     │     varchar      │     varchar      │ varchar │  varchar  │   varchar    │   int64    │ varchar  │ float │ int32 │ varchar │  varchar   │   varchar    │
├───────┼───────────────┼───────────┼───────────┼─────────┼────────────┼──────────────┼────────────┼──────────┼────────┼─────────────────┼──────────────────┼──────────────────┼─────────┼───────────┼──────────────┼────────────┼──────────┼───────┼───────┼─────────┼────────────┼──────────────┤
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   0.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   1.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   2.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   3.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         18 │ Maryland │   4.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         29 │ Maryland │   5.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   6.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   7.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         16 │ Maryland │   8.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         19 │ Maryland │   9.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│     · │ ·             │        ·  │        ·  │      ·  │ ·          │    ·         │   ·        │       ·  │     ·  │    ·            │        ·         │     ·            │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·         │      ·       │
│     · │ ·             │        ·  │        ·  │      ·  │ ·          │    ·         │   ·        │       ·  │     ·  │    ·            │        ·         │     ·            │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·         │      ·       │
│     · │ ·             │        ·  │        ·  │      ·  │ ·          │    ·         │   ·        │       ·  │     ·  │    ·            │        ·         │     ·            │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·         │      ·       │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  76.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  77.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  78.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  79.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  80.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  81.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  82.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          7 │ Maryland │  83.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  84.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         28 │ Maryland │  85.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
├───────┴───────────────┴───────────┴───────────┴─────────┴────────────┴──────────────┴────────────┴──────────┴────────┴─────────────────┴──────────────────┴──────────────────┴─────────┴───────────┴──────────────┴────────────┴──────────┴───────┴───────┴─────────┴────────────┴──────────────┤
│ 172 rows (20 shown)                                                                                                                                                                                                                                                                  23 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

# The following query will be query to the full join

In [ ]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN MergedCDI mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    -- SELECT 
    --   LogID,
    --   SUM(Population) AS TotalPopulation
    -- FROM CDIWithPop
    -- GROUP BY LogID
    SELECT COUNT(*) FROM CDIWithPop
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│    677079184 │
└──────────────┘

# full join and now with aggregation of necessary rows according to their agestart, ageend, yearstart, yearend, ethnicity, sex, state, origin,

In [84]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN MergedCDI mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    SELECT 
        LogID,
        SUM(Population) AS TotalPopulation
    FROM CDIWithPop
    GROUP BY LogID
    ORDER BY LogID ASC
""")

┌───────┬─────────────────┐
│ LogID │ TotalPopulation │
│ int32 │     int128      │
├───────┼─────────────────┤
│     1 │           67510 │
│     2 │            5939 │
│     3 │           51277 │
│     4 │           50628 │
│     5 │          144434 │
│     6 │          481644 │
│     7 │          165930 │
│     8 │          172065 │
│     9 │          178905 │
│    10 │           25075 │
│     · │             ·   │
│     · │             ·   │
│     · │             ·   │
│ 10598 │         7311671 │
│ 10599 │         7556703 │
│ 10600 │        71056882 │
│ 10601 │         9205777 │
│ 10602 │          106676 │
│ 10603 │         2715829 │
│ 10604 │         2088662 │
│ 10605 │           13913 │
│ 10606 │         1425883 │
│ 10607 │        17188215 │
├───────┴─────────────────┤
│ ? rows        2 columns │
└─────────────────────────┘

In [81]:
# conn.close()