# Now that all necessary data have now been extracted, transformed, and dumped to parquet files we can start doing our analyses by reading these parquet files as tables with duckdb (an in process OLAP) and then use these tables to make our transformations and draw insights

In [1]:
import duckdb

%load_ext autoreload
%autoreload 2

# Create database in order to persist data if one does not already exist. (DO NOT create a `.duckdb` file manually as this will not contain the instructions for duckdb to read and write data from and to)

In [2]:
# conn = duckdb.connect("chronic_disease_analyses.duckdb")

# loading transformed population tables

In [13]:
us_population_per_state_by_sex_age_race_ho_file_names = [
    './data/population-data-transformed/Population_2000_2009.parquet/*.parquet',
    './data/population-data-transformed/Population_2010_2019.parquet/*.parquet',
    './data/population-data-transformed/Population_2020_2023.parquet/*.parquet',
]

In [14]:
duckdb.sql(f"""
    CREATE OR REPLACE TABLE us_population_per_state_by_sex_age_race_ho AS
    SELECT *
    FROM read_parquet({us_population_per_state_by_sex_age_race_ho_file_names}, union_by_name=True, filename=False)
""")

In [15]:
duckdb.sql("""
    SELECT *
    FROM us_population_per_state_by_sex_age_race_ho
""")

┌─────────┬───────┬──────────────────┬───────┬────────────┐
│ StateID │  Age  │ StratificationID │ Year  │ Population │
│ varchar │ float │     varchar      │ int32 │   int64    │
├─────────┼───────┼──────────────────┼───────┼────────────┤
│ AL      │   0.0 │ NH_M_WHITE       │  2000 │      19270 │
│ AL      │   0.0 │ NH_M_WHITE       │  2001 │      19612 │
│ AL      │   0.0 │ NH_M_WHITE       │  2002 │      18731 │
│ AL      │   0.0 │ NH_M_WHITE       │  2003 │      18623 │
│ AL      │   0.0 │ NH_M_WHITE       │  2004 │      18659 │
│ AL      │   0.0 │ NH_M_WHITE       │  2005 │      18816 │
│ AL      │   0.0 │ NH_M_WHITE       │  2006 │      18877 │
│ AL      │   0.0 │ NH_M_WHITE       │  2007 │      19027 │
│ AL      │   0.0 │ NH_M_WHITE       │  2008 │      18937 │
│ AL      │   0.0 │ NH_M_WHITE       │  2009 │      18039 │
│ ·       │    ·  │     ·            │    ·  │          · │
│ ·       │    ·  │     ·            │    ·  │          · │
│ ·       │    ·  │     ·            │    ·  │          · │
│ AL      │  53.0 │ H_M_MULTI        │  2000 │          3 │
│ AL      │  53.0 │ H_M_MULTI        │  2001 │          4 │
│ AL      │  53.0 │ H_M_MULTI        │  2002 │          9 │
│ AL      │  53.0 │ H_M_MULTI        │  2003 │          6 │
│ AL      │  53.0 │ H_M_MULTI        │  2004 │          9 │
│ AL      │  53.0 │ H_M_MULTI        │  2005 │          7 │
│ AL      │  53.0 │ H_M_MULTI        │  2006 │          8 │
│ AL      │  53.0 │ H_M_MULTI        │  2007 │          7 │
│ AL      │  53.0 │ H_M_MULTI        │  2008 │          8 │
│ AL      │  53.0 │ H_M_MULTI        │  2009 │         11 │
├─────────┴───────┴──────────────────┴───────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                 5 columns │
└─────────────────────────────────────────────────────────┘

In [16]:
duckdb.sql("""
    SELECT COUNT(*)
    FROM us_population_per_state_by_sex_age_race_ho
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│      2526336 │
└──────────────┘

In [20]:
duckdb.sql("""
    SELECT Age, ROUND(AVG(Population), 2) AS MeanPopulationPerAge
    FROM us_population_per_state_by_sex_age_race_ho
    GROUP BY Age
    ORDER BY Age
""")

┌───────┬──────────────────────┐
│  Age  │ MeanPopulationPerAge │
│ float │        double        │
├───────┼──────────────────────┤
│   0.0 │              3230.22 │
│   1.0 │              3239.74 │
│   2.0 │              3248.47 │
│   3.0 │              3259.22 │
│   4.0 │              3271.03 │
│   5.0 │              3283.32 │
│   6.0 │              3293.71 │
│   7.0 │              3304.52 │
│   8.0 │              3314.64 │
│   9.0 │              3327.33 │
│    ·  │                  ·   │
│    ·  │                  ·   │
│    ·  │                  ·   │
│  76.0 │               1433.9 │
│  77.0 │              1336.63 │
│  78.0 │              1264.82 │
│  79.0 │              1191.36 │
│  80.0 │               1114.0 │
│  81.0 │              1030.56 │
│  82.0 │               953.07 │
│  83.0 │               876.16 │
│  84.0 │               799.87 │
│  85.0 │               4573.9 │
├───────┴──────────────────────┤
│      86 rows (20 shown)      │
└──────────────────────────────┘

In [21]:
duckdb.sql("""
    SELECT DISTINCT(StratificationID)
    FROM us_population_per_state_by_sex_age_race_ho
""").fetchall()

[('NH_F_ASIAN',),
 ('NH_F_NHPI',),
 ('H_F_BLACK',),
 ('H_F_WHITE',),
 ('NH_F_AIAN',),
 ('NH_M_BLACK',),
 ('NH_M_MULTI',),
 ('H_F_AIAN',),
 ('H_F_ASIAN',),
 ('H_M_MULTI',),
 ('NH_F_WHITE',),
 ('H_F_NHPI',),
 ('H_M_AIAN',),
 ('H_M_NHPI',),
 ('NH_F_BLACK',),
 ('H_M_WHITE',),
 ('NH_M_ASIAN',),
 ('H_M_ASIAN',),
 ('H_M_BLACK',),
 ('NH_F_MULTI',),
 ('NH_M_WHITE',),
 ('NH_M_AIAN',),
 ('H_F_MULTI',),
 ('NH_M_NHPI',)]

# Loading population dimension tables

In [23]:
duckdb.sql(f"""
    CREATE OR REPLACE TABLE PopulationState AS
    SELECT *
    FROM read_parquet({["./data/population-data-transformed/State.parquet/*.parquet"]}, union_by_name=True, filename=False)
""")

In [24]:
duckdb.sql(f"""
    SELECT *
    FROM PopulationState
""")

┌───────────────┬─────────┐
│     State     │ StateID │
│    varchar    │ varchar │
├───────────────┼─────────┤
│ Mississippi   │ MS      │
│ South Dakota  │ SD      │
│ Utah          │ UT      │
│ Kentucky      │ KY      │
│ California    │ CA      │
│ Nebraska      │ NE      │
│ New Hampshire │ NH      │
│ Delaware      │ DE      │
│ Minnesota     │ MN      │
│ Nevada        │ NV      │
│   ·           │ ·       │
│   ·           │ ·       │
│   ·           │ ·       │
│ Michigan      │ MI      │
│ Illinois      │ IL      │
│ Maryland      │ MD      │
│ Alaska        │ AK      │
│ Connecticut   │ CT      │
│ Vermont       │ VT      │
│ Oklahoma      │ OK      │
│ West Virginia │ WV      │
│ Virginia      │ VA      │
│ Massachusetts │ NULL    │
├───────────────┴─────────┤
│   51 rows (20 shown)    │
└─────────────────────────┘

In [25]:
duckdb.sql(f"""
    CREATE OR REPLACE TABLE PopulationStratification AS
    SELECT *
    FROM read_parquet({["./data/population-data-transformed/Stratification.parquet/*.parquet"]}, union_by_name=True, filename=False)
""")

In [30]:
duckdb.sql(f"""
    SELECT *
    FROM PopulationStratification
    ORDER BY Sex DESC
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │     varchar      │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Male    │ AIAN        │ Hispanic     │ H_M_AIAN         │
│ Male    │ NHPI        │ Hispanic     │ H_M_NHPI         │
│ Male    │ Black       │ Not Hispanic │ NH_M_BLACK       │
│ Male    │ Asian       │ Not Hispanic │ NH_M_ASIAN       │
│ Male    │ AIAN        │ Not Hispanic │ NH_M_AIAN        │
│ Male    │ White       │ Not Hispanic │ NH_M_WHITE       │
│ Male    │ Black       │ Hispanic     │ H_M_BLACK        │
│ Male    │ NHPI        │ Not Hispanic │ NH_M_NHPI        │
│ Male    │ Multiracial │ Not Hispanic │ NH_M_MULTI       │
│ Male    │ White       │ Hispanic     │ H_M_WHITE        │
│  ·      │  ·          │    ·         │    ·             │
│  ·      │  ·          │    ·         │    ·             │
│  ·      │  ·          │    ·         │    ·             │
│ Female  │ AIAN        │ Hispanic     │ H_F_AIAN         │
│ Female  │ Multiracial │ Not Hispanic │ NH_F_MULTI       │
│ Female  │ NHPI        │ Not Hispanic │ NH_F_NHPI        │
│ Female  │ Asian       │ Hispanic     │ H_F_ASIAN        │
│ Female  │ Asian       │ Not Hispanic │ NH_F_ASIAN       │
│ Female  │ Black       │ Hispanic     │ H_F_BLACK        │
│ Female  │ AIAN        │ Not Hispanic │ NH_F_AIAN        │
│ Female  │ White       │ Not Hispanic │ NH_F_WHITE       │
│ Female  │ NHPI        │ Hispanic     │ H_F_NHPI         │
│ Female  │ Black       │ Not Hispanic │ NH_F_BLACK       │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 24 rows (20 shown)                            4 columns │
└─────────────────────────────────────────────────────────┘

# Loading transformed chronic disease indicators table

In [6]:
cdi_file_name = './data/cdi-data-transformed/CDI.parquet/*.parquet'

In [7]:
q = f"""
    CREATE OR REPLACE TABLE cdi AS
    SELECT *
    FROM read_parquet('{cdi_file_name}')
"""

In [8]:
duckdb.sql(q)

In [9]:
duckdb.sql("""
    SELECT COUNT(*)
    FROM cdi
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       678471 │
└──────────────┘

In [10]:
duckdb.sql("""
    SELECT *
    FROM cdi
""")

┌───────────┬─────────┬────────────┬───────────────┬───────────┬────────────────────┬─────────────────────┬────────────┬─────────────────┬─────────────────────┬────────────────────┬──────────────────┐
│ YearStart │ YearEnd │ LocationID │ DataValueUnit │ DataValue │ LowConfidenceLimit │ HighConfidenceLimit │ QuestionID │ DataValueTypeID │      Latitude       │     Longitude      │ StratificationID │
│   int32   │  int32  │  varchar   │    varchar    │  double   │       double       │       double        │  varchar   │     varchar     │       double        │       double       │     varchar      │
├───────────┼─────────┼────────────┼───────────────┼───────────┼────────────────────┼─────────────────────┼────────────┼─────────────────┼─────────────────────┼────────────────────┼──────────────────┤
│      2015 │    2015 │ IL         │ %             │      10.6 │                4.8 │                22.2 │ ALC1_1     │ CRDPREV         │  -88.99771017799969 │  40.48501028300046 │ NH_B_ASIAN       │
│      2015 │    2015 │ RI         │ %             │      12.6 │                7.3 │                21.0 │ ALC1_1     │ CRDPREV         │  -71.52247031399963 │  41.70828019300046 │ NH_B_ASIAN       │
│      2013 │    2013 │ MA         │ %             │      13.6 │                8.6 │                20.7 │ ALC1_1     │ CRDPREV         │  -72.08269067499964 │  42.27687047000046 │ NH_B_ASIAN       │
│      2015 │    2015 │ FL         │ %             │      16.0 │               11.0 │                22.9 │ ALC1_1     │ CRDPREV         │  -81.92896053899966 │ 28.932040377000476 │ NH_B_ASIAN       │
│      2017 │    2017 │ SC         │ %             │      15.6 │               11.2 │                21.4 │ ALC1_1     │ CRDPREV         │  -81.04537120699968 │ 33.998821303000454 │ NH_B_BLACK       │
│      2015 │    2015 │ CA         │ %             │      17.1 │               11.9 │                23.9 │ ALC1_1     │ CRDPREV         │ -120.99999953799971 │  37.63864012300047 │ NH_B_ASIAN       │
│      2019 │    2019 │ VA         │ %             │      16.1 │               12.0 │                21.3 │ ALC1_1     │ CRDPREV         │  -78.45789046299967 │  37.54268067400045 │ NH_B_BLACK       │
│      2017 │    2017 │ VA         │ %             │      17.8 │               14.0 │                22.3 │ ALC1_1     │ CRDPREV         │  -78.45789046299967 │  37.54268067400045 │ NH_B_BLACK       │
│      2015 │    2015 │ VA         │ %             │      17.5 │               14.4 │                21.1 │ ALC1_1     │ CRDPREV         │  -78.45789046299967 │  37.54268067400045 │ NH_B_BLACK       │
│      2019 │    2019 │ HI         │ %             │      19.4 │               15.1 │                24.5 │ ALC1_1     │ CRDPREV         │ -157.85774940299973 │ 21.304850435000446 │ NH_B_WHITE       │
│        ·  │      ·  │ ·          │ ·             │        ·  │                 ·  │                  ·  │   ·        │    ·            │           ·         │          ·         │    ·             │
│        ·  │      ·  │ ·          │ ·             │        ·  │                 ·  │                  ·  │   ·        │    ·            │           ·         │          ·         │    ·             │
│        ·  │      ·  │ ·          │ ·             │        ·  │                 ·  │                  ·  │   ·        │    ·            │           ·         │          ·         │    ·             │
│      2017 │    2017 │ IL         │ %             │      85.5 │               77.1 │                91.1 │ AST6_2     │ CRDPREV         │  -88.99771017799969 │  40.48501028300046 │ B_B_ALL          │
│      2016 │    2016 │ MS         │ %             │      87.3 │               77.1 │                93.3 │ AST6_2     │ CRDPREV         │  -89.53803082499968 │ 32.745510099000455 │ NH_B_WHITE       │
│      2014 │    2014 │ UT         │ %             │      83.7 │               77.2 │                88.6 │ AST6_2     │ CRDPREV         │ -111.58713063499971 │ 39.360700171000474 │ NH_B_WHITE       │
│      2016 │    2016 │ TX         │ %             │      85.7 │               77.2 │                91.4 │ AST6_2     │ CRDPREV         │  -99.42677020599967 │ 31.827240407000488 │ B_B_ALL          │
│      2014 │    2014 │ LA         │ %             │      86.4 │               77.2 │                92.2 │ AST6_2     │ AGEADJPREV      │  -92.44568007099969 │  31.31266064400046 │ B_F_ALL          │
│      2019 │    2019 │ CO         │ %             │      87.2 │               77.2 │                93.2 │ AST6_2     │ CRDPREV         │ -106.13361092099967 │ 38.843840757000464 │ B_M_ALL          │
│      2013 │    2013 │ TX         │ %             │      85.8 │               77.3 │                91.5 │ AST6_2     │ CRDPREV         │  -99.42677020599967 │ 31.827240407000488 │ B_F_ALL          │
│      2012 │    2012 │ DE         │ %             │      87.0 │               77.5 │                92.8 │ AST6_2     │ CRDPREV         │  -75.57774116799965 │ 39.008830667000495 │ B_B_ALL          │
│      2013 │    2013 │ FL         │ %             │      84.4 │               77.6 │                89.3 │ AST6_2     │ AGEADJPREV      │  -81.92896053899966 │ 28.932040377000476 │ B_F_ALL          │
│      2019 │    2019 │ AZ         │ %             │      84.7 │               77.6 │                89.8 │ AST6_2     │ AGEADJPREV      │ -111.76381127699972 │ 34.865970280000454 │ NH_B_WHITE       │
├───────────┴─────────┴────────────┴───────────────┴───────────┴────────────────────┴─────────────────────┴────────────┴─────────────────┴─────────────────────┴────────────────────┴──────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                             12 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
duckdb.sql("""
    SELECT DISTINCT(StratificationID)
    FROM cdi
""")

┌──────────────────┐
│ StratificationID │
│     varchar      │
├──────────────────┤
│ H_B_ALL          │
│ NH_B_MULTI       │
│ NH_B_NHPI        │
│ NH_B_ASIAN       │
│ B_M_ALL          │
│ B_B_ALL          │
│ NH_B_BLACK       │
│ B_F_ALL          │
│ NH_B_WHITE       │
│ NH_B_AIAN        │
│ NH_B_OTHER       │
├──────────────────┤
│     11 rows      │
└──────────────────┘

In [12]:
cdi_unique_states = duckdb.sql("""
    SELECT DISTINCT(LocationID)
    FROM cdi
""").fetchall()
cdi_unique_states

[('NC',),
 ('MN',),
 ('ID',),
 ('KS',),
 ('PA',),
 ('IA',),
 ('TX',),
 ('VT',),
 ('WV',),
 ('AK',),
 ('SC',),
 ('ND',),
 ('TN',),
 ('AZ',),
 ('DE',),
 ('NJ',),
 ('AL',),
 ('MI',),
 ('MT',),
 ('NY',),
 ('WY',),
 ('IL',),
 ('MS',),
 ('OK',),
 ('FL',),
 ('AR',),
 ('CO',),
 ('MD',),
 ('OH',),
 ('DC',),
 ('WA',),
 ('RI',),
 ('GA',),
 ('CT',),
 ('MA',),
 ('NE',),
 ('IN',),
 ('WI',),
 ('HI',),
 ('LA',),
 ('VA',),
 ('CA',),
 ('ME',),
 ('NH',),
 ('NV',),
 ('SD',),
 ('KY',),
 ('UT',),
 ('OR',),
 ('NM',),
 ('MO',)]