In [243]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re

from concurrent.futures import ThreadPoolExecutor

from utilities.preprocessors import column_summary, model_population_table
from utilities.visualizers import disp_cat_feat, view_feat_outliers


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [244]:
DATA_DIR = './data/population-data'
EXCLUSIONS = ["us_populations_per_state_2001_to_2021.csv"]
files = list(filter(lambda file: not file in EXCLUSIONS, os.listdir(DATA_DIR)))
populations_00_10 = list(filter(lambda file: "2000-2010" in file, files))
populations_10_19 = list(filter(lambda file: "2010-2019" in file, files))
populations_20_23 = list(filter(lambda file: "2020-2023" in file, files))
len(populations_00_10), len(populations_10_19), len(populations_20_23)

(51, 51, 51)

# Read sample excel sheet

In [245]:
test_df = pd.read_excel(os.path.join(DATA_DIR, "Alabama_2000-2010.xls"), dtype=object, header=None)
test_df.head(40)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,table with row headers in column A and column ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table 2. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sex and Age,"April 1, 20001",Intercensal Estimates (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"April 1, 20102","July 1, 20103"
3,NaN,NaN,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,NaN,NaN
4,BOTH SEXES,4447207,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4779736,4785298
5,.Under 5 years,296000,295185,296624,296046,295204,295970,296441,297222,300300,304842,305412,304957,304840
6,.5 to 9 years,315369,313178,307526,302632,299148,297554,298450,303581,306013,306682,307864,308229,308125
7,.10 to 14 years,320266,321372,323615,325008,326642,326228,323028,321867,320407,319503,319072,319655,319314
8,.15 to 19 years,324583,325612,321866,320749,321655,325095,330753,337003,341279,345580,346611,343471,341504
9,.20 to 24 years,306876,309170,318741,322812,326983,326749,326727,326239,327293,328751,332117,335322,336601
10,.25 to 29 years,301197,298679,286763,281003,280387,283864,290568,302813,307619,311504,312199,311034,311929
11,.30 to 34 years,301842,301179,302186,302668,302722,299896,295263,288248,286033,287272,293352,297888,300120
12,.35 to 39 years,340313,338693,330870,321114,312160,305558,303456,308663,312470,313869,312797,308430,306442
13,.40 to 44 years,345218,345820,347133,345023,343191,342253,339299,334043,326486,318765,313852,311071,310756
14,.45 to 49 years,315164,316816,323347,330998,337237,340768,344392,348601,348251,348148,348256,346369,345049
15,.50 to 54 years,285027,287948,300108,298908,302120,307605,314839,323309,332544,340006,344478,347485,348347
16,.55 to 59 years,225445,226761,231202,248643,258551,270380,284084,297745,298032,301833,307017,311906,313686
17,.60 to 64 years,190093,190880,193822,198880,207119,214983,220403,226567,244043,254507,265870,276127,278763
18,.65 to 69 years,167975,167835,169261,170495,173635,176683,179942,184594,189797,198122,205667,209637,210742
19,.70 to 74 years,148785,148805,149001,147964,147332,147028,149085,151454,152814,156112,159088,160864,161514
20,.75 to 79 years,118111,118478,118750,119599,120741,120322,120923,122066,121729,121862,121679,122836,122639
21,.80 to 84 years,77644,78201,79883,81123,83097,84290,84762,85688,86812,88254,88283,88771,88754
22,.85 years and over,67299,67561,66936,66424,65567,65503,67390,69278,70918,72594,74324,75684,76173
23,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,.Under 18 years,1123467,1122273,1120409,1116590,1113083,1113662,1117229,1126798,1132296,1134927,1134192,1132459,1130946
25,.Under 5 years,296000,295185,296624,296046,295204,295970,296441,297222,300300,304842,305412,304957,304840
26,.5 to 13 years,571574,570705,567783,564473,561346,556262,555065,559971,560764,561569,562897,564204,564261
27,.14 to 17 years,255893,256383,256002,256071,256533,261430,265723,269605,271232,268516,265883,263298,261845
28,.18 to 64 years,2743926,2749020,2763394,2777894,2800036,2823241,2850474,2889103,2918474,2946335,2974705,2989485,2994530
29,.18 to 24 years,439627,442244,447963,450657,456549,457934,458170,459114,462996,470431,476884,479175,479438
30,.25 to 44 years,1288570,1284371,1266952,1249808,1238460,1231571,1228586,1233767,1232608,1231410,1232200,1228423,1229247
31,.45 to 64 years,1015729,1022405,1048479,1077429,1105027,1133736,1163718,1196222,1222870,1244494,1265621,1281887,1285845
32,.65 years and over,579814,580880,583831,585605,590372,593826,602102,613080,622070,636944,649041,657792,659822
33,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,.16 years and over,3451648,3457832,3475903,3492741,3518819,3545596,3583225,3638421,3679285,3719993,3759588,3781800,3787994
35,.18 years and over,3323740,3329900,3347225,3363499,3390408,3417067,3452576,3502183,3540544,3583279,3623746,3647277,3654352
36,.15 to 44 years,1920029,1919153,1907559,1893369,1887098,1883415,1886066,1897009,1901180,1905741,1910928,1907216,1907352
37,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,.Median age (years),35.84796,35.928453,36.222548,36.490234,36.696957,36.860782,36.993078,37.135348,37.305672,37.502912,37.699174,37.854873,37.875904
39,MALE,2146560,2149338,2158138,2165719,2179422,2192872,2213382,2243501,2265565,2287949,2309779,2320188,2323317

In [246]:
male_start = test_df[test_df[0] == "MALE"].index.to_list()[0]
male_start

39

In [247]:
pop_brackets = test_df.iloc[male_start:]
pop_brackets

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
39,MALE,2146560,2149338,2158138,2165719,2179422,2192872,2213382,2243501,2265565,2287949,2309779,2320188,2323317
40,.Under 5 years,151071,150609,151410,150856,150594,150699,150960,151442,153128,155061,155463,155265,155196
41,.5 to 9 years,161798,160685,157513,154832,152874,151948,152574,155157,156345,156770,157145,157340,157294
42,.10 to 14 years,164637,165170,166253,166796,167376,167198,165333,164608,163819,163445,163165,163417,163222
43,.15 to 19 years,164416,165156,163598,163527,164178,165836,169052,172295,174268,176205,176744,175151,174172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Note: Median age is calculated based on single...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Table 2. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Release Date: October 2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
female_start = pop_brackets[pop_brackets[0] == "FEMALE"].index.to_list()[0]
male_end, female_end = pop_brackets[pop_brackets[0] == ".Median age (years)"].index.to_list()
male_end, female_end

(73, 108)

# split the excel spreadsheet into the male and female population brackets

In [249]:
male_pop_bracket = test_df.iloc[male_start:male_end]
male_pop_bracket

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
39,MALE,2146560,2149338,2158138,2165719,2179422,2192872,2213382,2243501,2265565,2287949,2309779,2320188,2323317
40,.Under 5 years,151071,150609,151410,150856,150594,150699,150960,151442,153128,155061,155463,155265,155196
41,.5 to 9 years,161798,160685,157513,154832,152874,151948,152574,155157,156345,156770,157145,157340,157294
42,.10 to 14 years,164637,165170,166253,166796,167376,167198,165333,164608,163819,163445,163165,163417,163222
43,.15 to 19 years,164416,165156,163598,163527,164178,165836,169052,172295,174268,176205,176744,175151,174172
44,.20 to 24 years,151811,152937,157924,160193,163064,163013,163055,163368,163868,164488,165830,167520,168170
45,.25 to 29 years,149270,148063,141826,138866,138346,139913,143069,148916,151122,153665,154238,153716,154413
46,.30 to 34 years,148685,148363,148924,149479,149716,147796,145535,141715,140442,140890,144437,146424,147553
47,.35 to 39 years,166595,165784,161913,156961,152711,149728,148720,151475,153426,153863,153311,151078,150161
48,.40 to 44 years,168344,168611,169104,168292,167519,167409,165646,163182,159582,155950,154308,152707,152560
49,.45 to 49 years,153107,153919,157109,160859,163830,165310,167466,169420,169469,169523,170289,169103,168492
50,.50 to 54 years,138645,140119,146275,145177,146758,149053,152630,156757,161263,164801,167065,168725,169131
51,.55 to 59 years,107768,108433,110610,119508,124704,130369,136953,143669,143382,145011,147180,149633,150487
52,.60 to 64 years,88924,89347,90875,93485,97551,101698,104324,107124,115910,121294,126713,131603,132857
53,.65 to 69 years,76407,76405,77545,78293,79768,81138,83024,85514,88097,92099,96029,97893,98429
54,.70 to 74 years,63611,63735,64104,64017,64399,64697,66081,67593,68202,69592,71027,72143,72478
55,.75 to 79 years,46308,46494,46851,47624,48391,48529,49234,49986,50386,51001,51353,51927,51886
56,.80 to 84 years,27182,27438,28251,28910,29601,30226,30560,31258,32112,32880,33316,33684,33756
57,.85 years and over,17981,18070,18053,18044,18042,18312,19166,20022,20744,21411,22166,22859,23060
58,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,.Under 18 years,575691,575038,573644,571288,569488,569445,571420,576054,578801,579747,579373,578649,577881
60,.Under 5 years,151071,150609,151410,150856,150594,150699,150960,151442,153128,155061,155463,155265,155196
61,.5 to 13 years,293638,293198,291195,289177,287311,284421,283902,286388,286623,287133,287583,288212,288249
62,.14 to 17 years,130982,131231,131039,131255,131583,134325,136558,138224,139050,137553,136327,135172,134436
63,.18 to 64 years,1339380,1342158,1349690,1357543,1369733,1380525,1393897,1413074,1427223,1441219,1456515,1463033,1465827
64,.18 to 24 years,218042,219519,223054,224916,228598,229249,229554,230816,232627,236222,238974,240044,240173
65,.25 to 44 years,632894,630821,621767,613598,608292,604846,602970,605288,604572,604368,606294,603925,604687
66,.45 to 64 years,488444,491818,504869,519029,532843,546430,561373,576970,590024,600629,611247,619064,620967
67,.65 years and over,231489,232142,234804,236888,240201,242902,248065,254373,259541,266983,273891,278506,279609
68,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,.16 years and over,1636302,1639774,1650255,1660508,1675823,1689549,1709133,1737495,1758143,1778263,1800104,1810745,1814210
70,.18 years and over,1570869,1574300,1584494,1594431,1609934,1623427,1641962,1667447,1686764,1708202,1730406,1741539,1745436
71,.15 to 44 years,949121,948914,943289,937318,935534,933695,935077,940951,942708,945061,948868,946596,947029
72,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
female_pop_bracket = test_df.iloc[female_start:female_end]
female_pop_bracket

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
74,FEMALE,2300647,2302835,2309496,2314370,2324069,2337857,2356423,2385480,2407275,2430257,2448159,2459548,2461981
75,.Under 5 years,144929,144576,145214,145190,144610,145271,145481,145780,147172,149781,149949,149692,149644
76,.5 to 9 years,153571,152493,150013,147800,146274,145606,145876,148424,149668,149912,150719,150889,150831
77,.10 to 14 years,155629,156202,157362,158212,159266,159030,157695,157259,156588,156058,155907,156238,156092
78,.15 to 19 years,160167,160456,158268,157222,157477,159259,161701,164708,167011,169375,169867,168320,167332
79,.20 to 24 years,155065,156233,160817,162619,163919,163736,163672,162871,163425,164263,166287,167802,168431
80,.25 to 29 years,151927,150616,144937,142137,142041,143951,147499,153897,156497,157839,157961,157318,157516
81,.30 to 34 years,153157,152816,153262,153189,153006,152100,149728,146533,145591,146382,148915,151464,152567
82,.35 to 39 years,173718,172909,168957,164153,159449,155830,154736,157188,159044,160006,159486,157352,156281
83,.40 to 44 years,176874,177209,178029,176731,175672,174844,173653,170861,166904,162815,159544,158364,158196
84,.45 to 49 years,162057,162897,166238,170139,173407,175458,176926,179181,178782,178625,177967,177266,176557
85,.50 to 54 years,146382,147829,153833,153731,155362,158552,162209,166552,171281,175205,177413,178760,179216
86,.55 to 59 years,117677,118328,120592,129135,133847,140011,147131,154076,154650,156822,159837,162273,163199
87,.60 to 64 years,101169,101533,102947,105395,109568,113285,116079,119443,128133,133213,139157,144524,145906
88,.65 to 69 years,91568,91430,91716,92202,93867,95545,96918,99080,101700,106023,109638,111744,112313
89,.70 to 74 years,85174,85070,84897,83947,82933,82331,83004,83861,84612,86520,88061,88721,89036
90,.75 to 79 years,71803,71984,71899,71975,72350,71793,71689,72080,71343,70861,70326,70909,70753
91,.80 to 84 years,50462,50763,51632,52213,53496,54064,54202,54430,54700,55374,54967,55087,54998
92,.85 years and over,49318,49491,48883,48380,47525,47191,48224,49256,50174,51183,52158,52825,53113
93,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,.Under 18 years,547776,547235,546765,545302,543595,544217,545809,550744,553495,555180,554819,553810,553065
95,.Under 5 years,144929,144576,145214,145190,144610,145271,145481,145780,147172,149781,149949,149692,149644
96,.5 to 13 years,277936,277507,276588,275296,274035,271841,271163,273583,274141,274436,275314,275992,276012
97,.14 to 17 years,124911,125152,124963,124816,124950,127105,129165,131381,132182,130963,129556,128126,127409
98,.18 to 64 years,1404546,1406862,1413704,1420351,1430303,1442716,1456577,1476029,1491251,1505116,1518190,1526452,1528703
99,.18 to 24 years,221585,222725,224909,225741,227951,228685,228616,228298,230369,234209,237910,239131,239265
100,.25 to 44 years,655676,653550,645185,636210,630168,626725,625616,628479,628036,627042,625906,624498,624560
101,.45 to 64 years,527285,530587,543610,558400,572184,587306,602345,619252,632846,643865,654374,662823,664878
102,.65 years and over,348325,348738,349027,348717,350171,350924,354037,358707,362529,369961,375150,379286,380213
103,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,.16 years and over,1815346,1818058,1825648,1832233,1842996,1856047,1874092,1900926,1921142,1941730,1959484,1971055,1973784
105,.18 years and over,1752871,1755600,1762731,1769068,1780474,1793640,1810614,1834736,1853780,1875077,1893340,1905738,1908916
106,.15 to 44 years,970908,970239,964270,956051,951564,949720,950989,956058,958472,960680,962060,960620,960323
107,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Remove the following
* column `1`, column `12`, and column `13` (the reasoning is these contain only the population estimates of april 1 and not the most recent one which is supposed to be at july 1, and that column `13` is the year 2010 which already exists in the next population years)
* rows with mostly Nan and the a dot symbol in column `1` i.e. `[. Nan Nan Nan Nan Nan ... Nan]`
* and the male column 

#### we also rename the columns to be `bracket`, `2000`, `2001`, `2002`, `2003`, `2004`, `2005`, `2006`, `2007`, `2008`, `2009`

In [251]:
cond = (male_pop_bracket[0] != ".") & (male_pop_bracket[0] != "MALE")
name_map = {0: "bracket", 2: 2000, 3: 2001, 4: 2002, 5: 2003, 6: 2004, 7: 2005, 8: 2006, 9: 2007, 10: 2008, 11: 2009}
temp_male = male_pop_bracket[cond].drop(columns=[1, 12, 13]).rename(columns=name_map).reset_index(drop=True)
temp_male

,bracket,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,.Under 5 years,150609,151410,150856,150594,150699,150960,151442,153128,155061,155463
1,.5 to 9 years,160685,157513,154832,152874,151948,152574,155157,156345,156770,157145
2,.10 to 14 years,165170,166253,166796,167376,167198,165333,164608,163819,163445,163165
3,.15 to 19 years,165156,163598,163527,164178,165836,169052,172295,174268,176205,176744
4,.20 to 24 years,152937,157924,160193,163064,163013,163055,163368,163868,164488,165830
5,.25 to 29 years,148063,141826,138866,138346,139913,143069,148916,151122,153665,154238
6,.30 to 34 years,148363,148924,149479,149716,147796,145535,141715,140442,140890,144437
7,.35 to 39 years,165784,161913,156961,152711,149728,148720,151475,153426,153863,153311
8,.40 to 44 years,168611,169104,168292,167519,167409,165646,163182,159582,155950,154308
9,.45 to 49 years,153919,157109,160859,163830,165310,167466,169420,169469,169523,170289
10,.50 to 54 years,140119,146275,145177,146758,149053,152630,156757,161263,164801,167065
11,.55 to 59 years,108433,110610,119508,124704,130369,136953,143669,143382,145011,147180
12,.60 to 64 years,89347,90875,93485,97551,101698,104324,107124,115910,121294,126713
13,.65 to 69 years,76405,77545,78293,79768,81138,83024,85514,88097,92099,96029
14,.70 to 74 years,63735,64104,64017,64399,64697,66081,67593,68202,69592,71027
15,.75 to 79 years,46494,46851,47624,48391,48529,49234,49986,50386,51001,51353
16,.80 to 84 years,27438,28251,28910,29601,30226,30560,31258,32112,32880,33316
17,.85 years and over,18070,18053,18044,18042,18312,19166,20022,20744,21411,22166
18,.Under 18 years,575038,573644,571288,569488,569445,571420,576054,578801,579747,579373
19,.Under 5 years,150609,151410,150856,150594,150699,150960,151442,153128,155061,155463
20,.5 to 13 years,293198,291195,289177,287311,284421,283902,286388,286623,287133,287583
21,.14 to 17 years,131231,131039,131255,131583,134325,136558,138224,139050,137553,136327
22,.18 to 64 years,1342158,1349690,1357543,1369733,1380525,1393897,1413074,1427223,1441219,1456515
23,.18 to 24 years,219519,223054,224916,228598,229249,229554,230816,232627,236222,238974
24,.25 to 44 years,630821,621767,613598,608292,604846,602970,605288,604572,604368,606294
25,.45 to 64 years,491818,504869,519029,532843,546430,561373,576970,590024,600629,611247
26,.65 years and over,232142,234804,236888,240201,242902,248065,254373,259541,266983,273891
27,.16 years and over,1639774,1650255,1660508,1675823,1689549,1709133,1737495,1758143,1778263,1800104
28,.18 years and over,1574300,1584494,1594431,1609934,1623427,1641962,1667447,1686764,1708202,1730406
29,.15 to 44 years,948914,943289,937318,935534,933695,935077,940951,942708,945061,948868

#### we also apply transformations to the bracket column by renaming say `.5 to 9 years` to `5 <= 9`

In [252]:
def helper(bracket: str | None):
    bracket = bracket.lower()
    keyword = re.search(r"(under|to|and over)", bracket)
    keyword = np.nan if not keyword else keyword[0]
    numbers = re.findall(r"\d+", bracket)
    # print(keyword)
    # print(numbers)

    # e.g. "under 5" becomes "< 5"
    if keyword == "under":
        return f"< {numbers[-1]}"
    
    # e.g. "5 to 9" becomes "5 <= 9"
    elif keyword == "to":
        return f"{numbers[0]} <= {numbers[-1]}"
    
    # e.g. "9 and over" becomes ">= 9"
    elif keyword == "and over": 
        return f">= {numbers[-1]}"

In [253]:
temp_male["bracket"] = temp_male["bracket"].apply(helper)
temp_male

,bracket,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,< 5,150609,151410,150856,150594,150699,150960,151442,153128,155061,155463
1,5 <= 9,160685,157513,154832,152874,151948,152574,155157,156345,156770,157145
2,10 <= 14,165170,166253,166796,167376,167198,165333,164608,163819,163445,163165
3,15 <= 19,165156,163598,163527,164178,165836,169052,172295,174268,176205,176744
4,20 <= 24,152937,157924,160193,163064,163013,163055,163368,163868,164488,165830
5,25 <= 29,148063,141826,138866,138346,139913,143069,148916,151122,153665,154238
6,30 <= 34,148363,148924,149479,149716,147796,145535,141715,140442,140890,144437
7,35 <= 39,165784,161913,156961,152711,149728,148720,151475,153426,153863,153311
8,40 <= 44,168611,169104,168292,167519,167409,165646,163182,159582,155950,154308
9,45 <= 49,153919,157109,160859,163830,165310,167466,169420,169469,169523,170289
10,50 <= 54,140119,146275,145177,146758,149053,152630,156757,161263,164801,167065
11,55 <= 59,108433,110610,119508,124704,130369,136953,143669,143382,145011,147180
12,60 <= 64,89347,90875,93485,97551,101698,104324,107124,115910,121294,126713
13,65 <= 69,76405,77545,78293,79768,81138,83024,85514,88097,92099,96029
14,70 <= 74,63735,64104,64017,64399,64697,66081,67593,68202,69592,71027
15,75 <= 79,46494,46851,47624,48391,48529,49234,49986,50386,51001,51353
16,80 <= 84,27438,28251,28910,29601,30226,30560,31258,32112,32880,33316
17,>= 85,18070,18053,18044,18042,18312,19166,20022,20744,21411,22166
18,< 18,575038,573644,571288,569488,569445,571420,576054,578801,579747,579373
19,< 5,150609,151410,150856,150594,150699,150960,151442,153128,155061,155463
20,5 <= 13,293198,291195,289177,287311,284421,283902,286388,286623,287133,287583
21,14 <= 17,131231,131039,131255,131583,134325,136558,138224,139050,137553,136327
22,18 <= 64,1342158,1349690,1357543,1369733,1380525,1393897,1413074,1427223,1441219,1456515
23,18 <= 24,219519,223054,224916,228598,229249,229554,230816,232627,236222,238974
24,25 <= 44,630821,621767,613598,608292,604846,602970,605288,604572,604368,606294
25,45 <= 64,491818,504869,519029,532843,546430,561373,576970,590024,600629,611247
26,>= 65,232142,234804,236888,240201,242902,248065,254373,259541,266983,273891
27,>= 16,1639774,1650255,1660508,1675823,1689549,1709133,1737495,1758143,1778263,1800104
28,>= 18,1574300,1584494,1594431,1609934,1623427,1641962,1667447,1686764,1708202,1730406
29,15 <= 44,948914,943289,937318,935534,933695,935077,940951,942708,945061,948868

#### we remove the brackets that have duplicates

In [254]:
temp_male = temp_male.drop_duplicates(ignore_index=True)

#### now when we transpose this dataframe...

In [255]:
temp_male = temp_male.T
temp_male

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
bracket,< 5,5 <= 9,10 <= 14,15 <= 19,20 <= 24,25 <= 29,30 <= 34,35 <= 39,40 <= 44,45 <= 49,...,5 <= 13,14 <= 17,18 <= 64,18 <= 24,25 <= 44,45 <= 64,>= 65,>= 16,>= 18,15 <= 44
2000,150609,160685,165170,165156,152937,148063,148363,165784,168611,153919,...,293198,131231,1342158,219519,630821,491818,232142,1639774,1574300,948914
2001,151410,157513,166253,163598,157924,141826,148924,161913,169104,157109,...,291195,131039,1349690,223054,621767,504869,234804,1650255,1584494,943289
2002,150856,154832,166796,163527,160193,138866,149479,156961,168292,160859,...,289177,131255,1357543,224916,613598,519029,236888,1660508,1594431,937318
2003,150594,152874,167376,164178,163064,138346,149716,152711,167519,163830,...,287311,131583,1369733,228598,608292,532843,240201,1675823,1609934,935534
2004,150699,151948,167198,165836,163013,139913,147796,149728,167409,165310,...,284421,134325,1380525,229249,604846,546430,242902,1689549,1623427,933695
2005,150960,152574,165333,169052,163055,143069,145535,148720,165646,167466,...,283902,136558,1393897,229554,602970,561373,248065,1709133,1641962,935077
2006,151442,155157,164608,172295,163368,148916,141715,151475,163182,169420,...,286388,138224,1413074,230816,605288,576970,254373,1737495,1667447,940951
2007,153128,156345,163819,174268,163868,151122,140442,153426,159582,169469,...,286623,139050,1427223,232627,604572,590024,259541,1758143,1686764,942708
2008,155061,156770,163445,176205,164488,153665,140890,153863,155950,169523,...,287133,137553,1441219,236222,604368,600629,266983,1778263,1708202,945061
2009,155463,157145,163165,176744,165830,154238,144437,153311,154308,170289,...,287583,136327,1456515,238974,606294,611247,273891,1800104,1730406,948868

#### we would want our first row which would now be our age brackets to be our headers instead and the indeces we have which contain our years we would want as a column instead

In [256]:
# get first row as headers but exclude the value with bracket as we won't use this as a column header
temp_male = temp_male.reset_index()
headers = temp_male.iloc[0]
temp_male.columns = headers
temp_male = temp_male.iloc[1:]

In [257]:
final_name_map = {"bracket": "year"}
final_male_pop_bracket = temp_male.rename(columns=final_name_map)
final_male_pop_bracket

,year,< 5,5 <= 9,10 <= 14,15 <= 19,20 <= 24,25 <= 29,30 <= 34,35 <= 39,40 <= 44,...,5 <= 13,14 <= 17,18 <= 64,18 <= 24,25 <= 44,45 <= 64,>= 65,>= 16,>= 18,15 <= 44
1,2000,150609,160685,165170,165156,152937,148063,148363,165784,168611,...,293198,131231,1342158,219519,630821,491818,232142,1639774,1574300,948914
2,2001,151410,157513,166253,163598,157924,141826,148924,161913,169104,...,291195,131039,1349690,223054,621767,504869,234804,1650255,1584494,943289
3,2002,150856,154832,166796,163527,160193,138866,149479,156961,168292,...,289177,131255,1357543,224916,613598,519029,236888,1660508,1594431,937318
4,2003,150594,152874,167376,164178,163064,138346,149716,152711,167519,...,287311,131583,1369733,228598,608292,532843,240201,1675823,1609934,935534
5,2004,150699,151948,167198,165836,163013,139913,147796,149728,167409,...,284421,134325,1380525,229249,604846,546430,242902,1689549,1623427,933695
6,2005,150960,152574,165333,169052,163055,143069,145535,148720,165646,...,283902,136558,1393897,229554,602970,561373,248065,1709133,1641962,935077
7,2006,151442,155157,164608,172295,163368,148916,141715,151475,163182,...,286388,138224,1413074,230816,605288,576970,254373,1737495,1667447,940951
8,2007,153128,156345,163819,174268,163868,151122,140442,153426,159582,...,286623,139050,1427223,232627,604572,590024,259541,1758143,1686764,942708
9,2008,155061,156770,163445,176205,164488,153665,140890,153863,155950,...,287133,137553,1441219,236222,604368,600629,266983,1778263,1708202,945061
10,2009,155463,157145,163165,176744,165830,154238,144437,153311,154308,...,287583,136327,1456515,238974,606294,611247,273891,1800104,1730406,948868

In [258]:
final_male_pop_bracket["sex"] = "Male"

In [259]:
final_male_pop_bracket["state"] = "Alabama"

In [260]:
final_male_pop_bracket

,year,< 5,5 <= 9,10 <= 14,15 <= 19,20 <= 24,25 <= 29,30 <= 34,35 <= 39,40 <= 44,...,18 <= 64,18 <= 24,25 <= 44,45 <= 64,>= 65,>= 16,>= 18,15 <= 44,sex,state
1,2000,150609,160685,165170,165156,152937,148063,148363,165784,168611,...,1342158,219519,630821,491818,232142,1639774,1574300,948914,Male,Alabama
2,2001,151410,157513,166253,163598,157924,141826,148924,161913,169104,...,1349690,223054,621767,504869,234804,1650255,1584494,943289,Male,Alabama
3,2002,150856,154832,166796,163527,160193,138866,149479,156961,168292,...,1357543,224916,613598,519029,236888,1660508,1594431,937318,Male,Alabama
4,2003,150594,152874,167376,164178,163064,138346,149716,152711,167519,...,1369733,228598,608292,532843,240201,1675823,1609934,935534,Male,Alabama
5,2004,150699,151948,167198,165836,163013,139913,147796,149728,167409,...,1380525,229249,604846,546430,242902,1689549,1623427,933695,Male,Alabama
6,2005,150960,152574,165333,169052,163055,143069,145535,148720,165646,...,1393897,229554,602970,561373,248065,1709133,1641962,935077,Male,Alabama
7,2006,151442,155157,164608,172295,163368,148916,141715,151475,163182,...,1413074,230816,605288,576970,254373,1737495,1667447,940951,Male,Alabama
8,2007,153128,156345,163819,174268,163868,151122,140442,153426,159582,...,1427223,232627,604572,590024,259541,1758143,1686764,942708,Male,Alabama
9,2008,155061,156770,163445,176205,164488,153665,140890,153863,155950,...,1441219,236222,604368,600629,266983,1778263,1708202,945061,Male,Alabama
10,2009,155463,157145,163165,176744,165830,154238,144437,153311,154308,...,1456515,238974,606294,611247,273891,1800104,1730406,948868,Male,Alabama

In [261]:
column_summary(final_male_pop_bracket)

,col_name,col_dtype,num_of_nulls,num_of_non_nulls,num_of_distinct_values,distinct_values_counts
0,year,object,0,10,10,"{2000: 1, 2001: 1, 2002: 1, 2003: 1, 2004: 1, ..."
1,< 5,object,0,10,10,"{150609: 1, 151410: 1, 150856: 1, 150594: 1, 1..."
2,5 <= 9,object,0,10,10,"{160685: 1, 157513: 1, 154832: 1, 152874: 1, 1..."
3,10 <= 14,object,0,10,10,"{165170: 1, 166253: 1, 166796: 1, 167376: 1, 1..."
4,15 <= 19,object,0,10,10,"{165156: 1, 163598: 1, 163527: 1, 164178: 1, 1..."
5,20 <= 24,object,0,10,10,"{152937: 1, 157924: 1, 160193: 1, 163064: 1, 1..."
6,25 <= 29,object,0,10,10,"{148063: 1, 141826: 1, 138866: 1, 138346: 1, 1..."
7,30 <= 34,object,0,10,10,"{148363: 1, 148924: 1, 149479: 1, 149716: 1, 1..."
8,35 <= 39,object,0,10,10,"{165784: 1, 161913: 1, 156961: 1, 152711: 1, 1..."
9,40 <= 44,object,0,10,10,"{168611: 1, 169104: 1, 168292: 1, 167519: 1, 1..."
10,45 <= 49,object,0,10,10,"{153919: 1, 157109: 1, 160859: 1, 163830: 1, 1..."
11,50 <= 54,object,0,10,10,"{140119: 1, 146275: 1, 145177: 1, 146758: 1, 1..."
12,55 <= 59,object,0,10,10,"{108433: 1, 110610: 1, 119508: 1, 124704: 1, 1..."
13,60 <= 64,object,0,10,10,"{89347: 1, 90875: 1, 93485: 1, 97551: 1, 10169..."
14,65 <= 69,object,0,10,10,"{76405: 1, 77545: 1, 78293: 1, 79768: 1, 81138..."
15,70 <= 74,object,0,10,10,"{63735: 1, 64104: 1, 64017: 1, 64399: 1, 64697..."
16,75 <= 79,object,0,10,10,"{46494: 1, 46851: 1, 47624: 1, 48391: 1, 48529..."
17,80 <= 84,object,0,10,10,"{27438: 1, 28251: 1, 28910: 1, 29601: 1, 30226..."
18,>= 85,object,0,10,10,"{18070: 1, 18053: 1, 18044: 1, 18042: 1, 18312..."
19,< 18,object,0,10,10,"{575038: 1, 573644: 1, 571288: 1, 569488: 1, 5..."
20,5 <= 13,object,0,10,10,"{293198: 1, 291195: 1, 289177: 1, 287311: 1, 2..."
21,14 <= 17,object,0,10,10,"{131231: 1, 131039: 1, 131255: 1, 131583: 1, 1..."
22,18 <= 64,object,0,10,10,"{1342158: 1, 1349690: 1, 1357543: 1, 1369733: ..."
23,18 <= 24,object,0,10,10,"{219519: 1, 223054: 1, 224916: 1, 228598: 1, 2..."
24,25 <= 44,object,0,10,10,"{630821: 1, 621767: 1, 613598: 1, 608292: 1, 6..."
25,45 <= 64,object,0,10,10,"{491818: 1, 504869: 1, 519029: 1, 532843: 1, 5..."
26,>= 65,object,0,10,10,"{232142: 1, 234804: 1, 236888: 1, 240201: 1, 2..."
27,>= 16,object,0,10,10,"{1639774: 1, 1650255: 1, 1660508: 1, 1675823: ..."
28,>= 18,object,0,10,10,"{1574300: 1, 1584494: 1, 1594431: 1, 1609934: ..."
29,15 <= 44,object,0,10,10,"{948914: 1, 943289: 1, 937318: 1, 935534: 1, 9..."
30,sex,object,0,10,1,{'Male': 10}
31,state,object,0,10,1,{'Alabama': 10}

#### We've done our preprocessing on the male population age brackets now we have to this same preprocessing on the female demographic. We can achieve this by writing a function that implements our above prototype that not only does it to the male population but also that of the female one, adn combines the resulting dataframes into one single dataframe for easy collation

In [262]:
model_population_table(test_df, "Alabama")

,year,< 5,5 <= 9,10 <= 14,15 <= 19,20 <= 24,25 <= 29,30 <= 34,35 <= 39,40 <= 44,...,18 <= 64,18 <= 24,25 <= 44,45 <= 64,>= 65,>= 16,>= 18,15 <= 44,sex,state
0,2000,150609,160685,165170,165156,152937,148063,148363,165784,168611,...,1342158,219519,630821,491818,232142,1639774,1574300,948914,male,Alabama
1,2001,151410,157513,166253,163598,157924,141826,148924,161913,169104,...,1349690,223054,621767,504869,234804,1650255,1584494,943289,male,Alabama
2,2002,150856,154832,166796,163527,160193,138866,149479,156961,168292,...,1357543,224916,613598,519029,236888,1660508,1594431,937318,male,Alabama
3,2003,150594,152874,167376,164178,163064,138346,149716,152711,167519,...,1369733,228598,608292,532843,240201,1675823,1609934,935534,male,Alabama
4,2004,150699,151948,167198,165836,163013,139913,147796,149728,167409,...,1380525,229249,604846,546430,242902,1689549,1623427,933695,male,Alabama
5,2005,150960,152574,165333,169052,163055,143069,145535,148720,165646,...,1393897,229554,602970,561373,248065,1709133,1641962,935077,male,Alabama
6,2006,151442,155157,164608,172295,163368,148916,141715,151475,163182,...,1413074,230816,605288,576970,254373,1737495,1667447,940951,male,Alabama
7,2007,153128,156345,163819,174268,163868,151122,140442,153426,159582,...,1427223,232627,604572,590024,259541,1758143,1686764,942708,male,Alabama
8,2008,155061,156770,163445,176205,164488,153665,140890,153863,155950,...,1441219,236222,604368,600629,266983,1778263,1708202,945061,male,Alabama
9,2009,155463,157145,163165,176744,165830,154238,144437,153311,154308,...,1456515,238974,606294,611247,273891,1800104,1730406,948868,male,Alabama
10,2000,144576,152493,156202,160456,156233,150616,152816,172909,177209,...,1406862,222725,653550,530587,348738,1818058,1755600,970239,female,Alabama
11,2001,145214,150013,157362,158268,160817,144937,153262,168957,178029,...,1413704,224909,645185,543610,349027,1825648,1762731,964270,female,Alabama
12,2002,145190,147800,158212,157222,162619,142137,153189,164153,176731,...,1420351,225741,636210,558400,348717,1832233,1769068,956051,female,Alabama
13,2003,144610,146274,159266,157477,163919,142041,153006,159449,175672,...,1430303,227951,630168,572184,350171,1842996,1780474,951564,female,Alabama
14,2004,145271,145606,159030,159259,163736,143951,152100,155830,174844,...,1442716,228685,626725,587306,350924,1856047,1793640,949720,female,Alabama
15,2005,145481,145876,157695,161701,163672,147499,149728,154736,173653,...,1456577,228616,625616,602345,354037,1874092,1810614,950989,female,Alabama
16,2006,145780,148424,157259,164708,162871,153897,146533,157188,170861,...,1476029,228298,628479,619252,358707,1900926,1834736,956058,female,Alabama
17,2007,147172,149668,156588,167011,163425,156497,145591,159044,166904,...,1491251,230369,628036,632846,362529,1921142,1853780,958472,female,Alabama
18,2008,149781,149912,156058,169375,164263,157839,146382,160006,162815,...,1505116,234209,627042,643865,369961,1941730,1875077,960680,female,Alabama
19,2009,149949,150719,155907,169867,166287,157961,148915,159486,159544,...,1518190,237910,625906,654374,375150,1959484,1893340,962060,female,Alabama

In [263]:
def helper(file):
    FILE_PATH = os.path.join(DATA_DIR, file)
    state = re.search(r"(^[A-Za-z]+)", file)
    state = "Unknown" if not state else state[0]

    # read excel file
    df = pd.read_excel(FILE_PATH, dtype=object, header=None)
    state_population = model_population_table(df, state)
    return state_population


with ThreadPoolExecutor() as exe:
    state_populations = list(exe.map(helper, populations_00_10))

state_populations_df = pd.concat(state_populations, axis=0, ignore_index=True)

In [265]:
state_populations_df

,year,< 5,5 <= 9,10 <= 14,15 <= 19,20 <= 24,25 <= 29,30 <= 34,35 <= 39,40 <= 44,...,18 <= 64,18 <= 24,25 <= 44,45 <= 64,>= 65,>= 16,>= 18,15 <= 44,sex,state
0,2000,150609,160685,165170,165156,152937,148063,148363,165784,168611,...,1342158,219519,630821,491818,232142,1639774,1574300,948914,male,Alabama
1,2001,151410,157513,166253,163598,157924,141826,148924,161913,169104,...,1349690,223054,621767,504869,234804,1650255,1584494,943289,male,Alabama
2,2002,150856,154832,166796,163527,160193,138866,149479,156961,168292,...,1357543,224916,613598,519029,236888,1660508,1594431,937318,male,Alabama
3,2003,150594,152874,167376,164178,163064,138346,149716,152711,167519,...,1369733,228598,608292,532843,240201,1675823,1609934,935534,male,Alabama
4,2004,150699,151948,167198,165836,163013,139913,147796,149728,167409,...,1380525,229249,604846,546430,242902,1689549,1623427,933695,male,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2005,16204,15752,17150,18617,19016,15535,14928,14850,18479,...,159656,26697,63792,69167,34028,200947,193684,101425,female,Wyoming
1016,2006,16819,15919,16859,18461,19148,16650,14884,15099,17607,...,162338,26663,64240,71435,34480,204146,196818,101849,female,Wyoming
1017,2007,17882,16355,16839,18468,19377,17760,15120,15691,16780,...,165606,26835,65351,73420,35084,208067,200690,103196,female,Wyoming
1018,2008,18618,16929,17231,18513,19163,18690,15710,15978,16377,...,168422,26822,66755,74845,35928,211714,204350,104431,female,Wyoming
1019,2009,19518,17588,17457,18773,19254,19424,16774,16133,16048,...,171851,27150,68379,76322,36755,215889,208606,106406,female,Wyoming

In [ ]:
# take note this is just hte below five age bracket, 
# if we include all other age brackets we might have
# a bigger total population value per year
state_populations_df.groupby(by="year").agg(total_population=("< 5", "sum"))

     total_population
year
2000         19178293
2001         19298217
2002         19429192
2003         19592446
2004         19785885
2005         19917400
2006         19938883
2007         20125962
2008         20271127
2009         20244518