In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

from utilities.preprocessors import column_summary 
from utilities.visualizers import disp_cat_feat, view_feat_outliers

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
DATA_DIR = './data/population-data'
EXCLUSIONS = ["us_populations_per_state_2001_to_2021.csv"]
files = list(filter(lambda file: not file in EXCLUSIONS, os.listdir(DATA_DIR)))
len(files)

152

In [18]:
test_df = pd.read_excel(os.path.join(DATA_DIR, "Alabama_2000-2010.xls"), dtype=object, header=None)
test_df.head(40)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,table with row headers in column A and column ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table 2. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sex and Age,"April 1, 20001",Intercensal Estimates (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"April 1, 20102","July 1, 20103"
3,NaN,NaN,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,NaN,NaN
4,BOTH SEXES,4447207,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4779736,4785298
5,.Under 5 years,296000,295185,296624,296046,295204,295970,296441,297222,300300,304842,305412,304957,304840
6,.5 to 9 years,315369,313178,307526,302632,299148,297554,298450,303581,306013,306682,307864,308229,308125
7,.10 to 14 years,320266,321372,323615,325008,326642,326228,323028,321867,320407,319503,319072,319655,319314
8,.15 to 19 years,324583,325612,321866,320749,321655,325095,330753,337003,341279,345580,346611,343471,341504
9,.20 to 24 years,306876,309170,318741,322812,326983,326749,326727,326239,327293,328751,332117,335322,336601
10,.25 to 29 years,301197,298679,286763,281003,280387,283864,290568,302813,307619,311504,312199,311034,311929
11,.30 to 34 years,301842,301179,302186,302668,302722,299896,295263,288248,286033,287272,293352,297888,300120
12,.35 to 39 years,340313,338693,330870,321114,312160,305558,303456,308663,312470,313869,312797,308430,306442
13,.40 to 44 years,345218,345820,347133,345023,343191,342253,339299,334043,326486,318765,313852,311071,310756
14,.45 to 49 years,315164,316816,323347,330998,337237,340768,344392,348601,348251,348148,348256,346369,345049
15,.50 to 54 years,285027,287948,300108,298908,302120,307605,314839,323309,332544,340006,344478,347485,348347
16,.55 to 59 years,225445,226761,231202,248643,258551,270380,284084,297745,298032,301833,307017,311906,313686
17,.60 to 64 years,190093,190880,193822,198880,207119,214983,220403,226567,244043,254507,265870,276127,278763
18,.65 to 69 years,167975,167835,169261,170495,173635,176683,179942,184594,189797,198122,205667,209637,210742
19,.70 to 74 years,148785,148805,149001,147964,147332,147028,149085,151454,152814,156112,159088,160864,161514
20,.75 to 79 years,118111,118478,118750,119599,120741,120322,120923,122066,121729,121862,121679,122836,122639
21,.80 to 84 years,77644,78201,79883,81123,83097,84290,84762,85688,86812,88254,88283,88771,88754
22,.85 years and over,67299,67561,66936,66424,65567,65503,67390,69278,70918,72594,74324,75684,76173
23,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,.Under 18 years,1123467,1122273,1120409,1116590,1113083,1113662,1117229,1126798,1132296,1134927,1134192,1132459,1130946
25,.Under 5 years,296000,295185,296624,296046,295204,295970,296441,297222,300300,304842,305412,304957,304840
26,.5 to 13 years,571574,570705,567783,564473,561346,556262,555065,559971,560764,561569,562897,564204,564261
27,.14 to 17 years,255893,256383,256002,256071,256533,261430,265723,269605,271232,268516,265883,263298,261845
28,.18 to 64 years,2743926,2749020,2763394,2777894,2800036,2823241,2850474,2889103,2918474,2946335,2974705,2989485,2994530
29,.18 to 24 years,439627,442244,447963,450657,456549,457934,458170,459114,462996,470431,476884,479175,479438
30,.25 to 44 years,1288570,1284371,1266952,1249808,1238460,1231571,1228586,1233767,1232608,1231410,1232200,1228423,1229247
31,.45 to 64 years,1015729,1022405,1048479,1077429,1105027,1133736,1163718,1196222,1222870,1244494,1265621,1281887,1285845
32,.65 years and over,579814,580880,583831,585605,590372,593826,602102,613080,622070,636944,649041,657792,659822
33,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,.16 years and over,3451648,3457832,3475903,3492741,3518819,3545596,3583225,3638421,3679285,3719993,3759588,3781800,3787994
35,.18 years and over,3323740,3329900,3347225,3363499,3390408,3417067,3452576,3502183,3540544,3583279,3623746,3647277,3654352
36,.15 to 44 years,1920029,1919153,1907559,1893369,1887098,1883415,1886066,1897009,1901180,1905741,1910928,1907216,1907352
37,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,.Median age (years),35.84796,35.928453,36.222548,36.490234,36.696957,36.860782,36.993078,37.135348,37.305672,37.502912,37.699174,37.854873,37.875904
39,MALE,2146560,2149338,2158138,2165719,2179422,2192872,2213382,2243501,2265565,2287949,2309779,2320188,2323317

#### These are the age brackets of these dataframes what we want to do is transform this dataframe into this

In [25]:
test_df.loc[:40, 0].to_list()

['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)',
 'Table 2. Intercensal Estimates of the Resident Population by Sex and Age for Alabama: April 1, 2000 to July 1, 2010',
 'Sex and Age',
 nan,
 'BOTH SEXES',
 '.Under 5 years',
 '.5 to 9 years',
 '.10 to 14 years',
 '.15 to 19 years',
 '.20 to 24 years',
 '.25 to 29 years',
 '.30 to 34 years',
 '.35 to 39 years',
 '.40 to 44 years',
 '.45 to 49 years',
 '.50 to 54 years',
 '.55 to 59 years',
 '.60 to 64 years',
 '.65 to 69 years',
 '.70 to 74 years',
 '.75 to 79 years',
 '.80 to 84 years',
 '.85 years and over',
 '.',
 '.Under 18 years',
 '.Under 5 years',
 '.5 to 13 years',
 '.14 to 17 years',
 '.18 to 64 years',
 '.18 to 24 years',
 '.25 to 44 years',
 '.45 to 64 years',
 '.65 years and over',
 '.',
 '.16 years and over',
 '.18 years and over',
 '.15 to 44 years',
 '.',
 '.Median age (years)',
 'MALE',
 '.Under 5 years']

#### Next is to extract out the unique age brackets and use those as columns in the table/dataframe we will be modelling together with its dimensions and all

In [12]:
for file in files[:3]:
    print(file)
    FILE_PATH = os.path.join(DATA_DIR, file)
    df = pd.read_excel(FILE_PATH)
    print(df)

Alabama_2000-2010.xls
    table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)  \
0    Table 2. Intercensal Estimates of the Resident...
1                                          Sex and Age
2                                                  NaN
3                                           BOTH SEXES
4                                       .Under 5 years
..                                                 ...
111  Note: Median age is calculated based on single...
112                                Suggested Citation:
113  Table 2. Intercensal Estimates of the Resident...
114    Source: U.S. Census Bureau, Population Division
115                         Release Date: October 2012

         Unnamed: 1                            Unnamed: 2  Unnamed: 3  \
0               NaN                                   NaN         NaN
1    April 1, 20001  Intercensal Estimates (as of July 1)         NaN
2               NaN                                  2000      2001.0
3           4447207                               4452173   4467634.0
4            296000                                295185    296624.0
..              ...                                   ...         ...
111             NaN                                   NaN         NaN
112             NaN                                   NaN         NaN
113             NaN                                   NaN         NaN
114             NaN                                   NaN         NaN
115             NaN                                   NaN         NaN

     Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0           NaN         NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN         NaN         NaN
2        2002.0      2003.0      2004.0      2005.0      2006.0      2007.0
3     4480089.0   4503491.0   4530729.0   4569805.0   4628981.0   4672840.0
4      296046.0    295204.0    295970.0    296441.0    297222.0    300300.0
..          ...         ...         ...         ...         ...         ...
111         NaN         NaN         NaN         NaN         NaN         NaN
112         NaN         NaN         NaN         NaN         NaN         NaN
113         NaN         NaN         NaN         NaN         NaN         NaN
114         NaN         NaN         NaN         NaN         NaN         NaN
115         NaN         NaN         NaN         NaN         NaN         NaN

     Unnamed: 10  Unnamed: 11     Unnamed: 12    Unnamed: 13
0            NaN          NaN             NaN            NaN
1            NaN          NaN  April 1, 20102  July 1, 20103
2         2008.0       2009.0             NaN            NaN
3      4718206.0    4757938.0         4779736        4785298
4       304842.0     305412.0          304957         304840
..           ...          ...             ...            ...
111          NaN          NaN             NaN            NaN
112          NaN          NaN             NaN            NaN
113          NaN          NaN             NaN            NaN
114          NaN          NaN             NaN            NaN
115          NaN          NaN             NaN            NaN

[116 rows x 14 columns]
Alabama_2010-2019.xlsx
   table with row headers in column A and column headers in rows 3 through 5. (leading dots indicate sub-parts)  \
0   Annual Estimates of the Resident Population by...
1                                                .Age
2                                                 NaN
3                                                 NaN
4                                               Total
..                                                ...
93  Note: The estimates are based on the 2010 Cens...
94                                Suggested Citation:
95  Annual Estimates of the Resident Population by...
96    Source: U.S. Census Bureau, Population Division
97                            Release Date: June 2020

             Unnamed: 1 Unnamed: 2 Unnamed: 3         Unnamed: 4 Unnamed: 5  \
0                   NaN        NaN        NaN                NaN        NaN
1   2010-04-01 00:00:00        NaN        NaN                NaN        NaN
2                Census        NaN        NaN     Estimates Base        NaN
3     Total\nPopulation       Male     Female  Total\nPopulation       Male
4               4779736    2320188    2459548            4780125    2320477
..                  ...        ...        ...                ...        ...
93                  NaN        NaN        NaN                NaN        NaN
94                  NaN        NaN        NaN                NaN        NaN
95                  NaN        NaN        NaN                NaN        NaN
96                  NaN        NaN        NaN                NaN        NaN
97                  NaN        NaN        NaN                NaN        NaN

   Unnamed: 6                          Unnamed: 7 Unnamed: 8 Unnamed: 9  ...  \
0         NaN                                 NaN        NaN        NaN  ...
1         NaN  Population Estimate (as of July 1)        NaN        NaN  ...
2         NaN                                2010        NaN        NaN  ...
3      Female                   Total\nPopulation       Male     Female  ...
4     2459648                             4785437    2322988    2462449  ...
..        ...                                 ...        ...        ...  ...
93        NaN                                 NaN        NaN        NaN  ...
94        NaN                                 NaN        NaN        NaN  ...
95        NaN                                 NaN        NaN        NaN  ...
96        NaN                                 NaN        NaN        NaN  ...
97        NaN                                 NaN        NaN        NaN  ...

   Unnamed: 27        Unnamed: 28 Unnamed: 29 Unnamed: 30        Unnamed: 31  \
0          NaN                NaN         NaN         NaN                NaN
1          NaN                NaN         NaN         NaN                NaN
2          NaN               2017         NaN         NaN               2018
3       Female  Total\nPopulation        Male      Female  Total\nPopulation
4      2507926            4874486     2358683     2515803            4887681
..         ...                ...         ...         ...                ...
93         NaN                NaN         NaN         NaN                NaN
94         NaN                NaN         NaN         NaN                NaN
95         NaN                NaN         NaN         NaN                NaN
96         NaN                NaN         NaN         NaN                NaN
97         NaN                NaN         NaN         NaN                NaN

   Unnamed: 32 Unnamed: 33        Unnamed: 34 Unnamed: 35 Unnamed: 36
0          NaN         NaN                NaN         NaN         NaN
1          NaN         NaN                NaN         NaN         NaN
2          NaN         NaN               2019         NaN         NaN
3         Male      Female  Total\nPopulation        Male      Female
4      2363320     2524361            4903185     2369517     2533668
..         ...         ...                ...         ...         ...
93         NaN         NaN                NaN         NaN         NaN
94         NaN         NaN                NaN         NaN         NaN
95         NaN         NaN                NaN         NaN         NaN
96         NaN         NaN                NaN         NaN         NaN
97         NaN         NaN                NaN         NaN         NaN

[98 rows x 37 columns]
Alabama_2020-2023.xlsx
   table with row headers in column A and column headers in rows 3 through 5. (leading dots indicate sub-parts)  \
0   Annual Estimates of the Resident Population by...
1                                                 Age
2                                                 NaN
3                                                 NaN
4                                               Total
..                                                ...
94  Notes: The estimates are developed from a base...
95                                Suggested Citation:
96  Annual Estimates of the Resident Population by...
97    Source: U.S. Census Bureau, Population Division
98                            Release Date: June 2024

                      Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                            NaN        NaN        NaN
1   April 1, 2020 Estimates Base        NaN        NaN
2                            NaN        NaN        NaN
3              Total\nPopulation       Male     Female
4                        5024294    2443575    2580719
..                           ...        ...        ...
94                           NaN        NaN        NaN
95                           NaN        NaN        NaN
96                           NaN        NaN        NaN
97                           NaN        NaN        NaN
98                           NaN        NaN        NaN

                            Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0                                  NaN        NaN        NaN
1   Population Estimate (as of July 1)        NaN        NaN
2                                 2020        NaN        NaN
3                    Total\nPopulation       Male     Female
4                              5031864    2446241    2585623
..                                 ...        ...        ...
94                                 NaN        NaN        NaN
95                                 NaN        NaN        NaN
96                                 NaN        NaN        NaN
97                                 NaN        NaN        NaN
98                                 NaN        NaN        NaN

           Unnamed: 7 Unnamed: 8 Unnamed: 9        Unnamed: 10 Unnamed: 11  \
0                 NaN        NaN        NaN                NaN         NaN
1                 NaN        NaN        NaN                NaN         NaN
2                2021        NaN        NaN               2022         NaN
3   Total\nPopulation       Male     Female  Total\nPopulation        Male
4             5050380    2452912    2597468            5073903     2463660
..                ...        ...        ...                ...         ...
94                NaN        NaN        NaN                NaN         NaN
95                NaN        NaN        NaN                NaN         NaN
96                NaN        NaN        NaN                NaN         NaN
97                NaN        NaN        NaN                NaN         NaN
98                NaN        NaN        NaN                NaN         NaN

   Unnamed: 12        Unnamed: 13 Unnamed: 14 Unnamed: 15
0          NaN                NaN         NaN         NaN
1          NaN                NaN         NaN         NaN
2          NaN               2023         NaN         NaN
3       Female  Total\nPopulation        Male      Female
4      2610243            5108468     2479253     2629215
..         ...                ...         ...         ...
94         NaN                NaN         NaN         NaN
95         NaN                NaN         NaN         NaN
96         NaN                NaN         NaN         NaN
97         NaN                NaN         NaN         NaN
98         NaN                NaN         NaN         NaN

[99 rows x 16 columns]